<app-header></app-header>

<h3 class="text-center mt-4">Alumnos</h3>

<div class="container text-center mt-4">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1">
                    Nombre
                </div>
                <div class="col-2">
                    Apellidos
                </div>
                <div class="col-2">
                    Documento de identificación
                </div>
                <div class="col-2">
                    Número de télefono
                </div>
                <div class="col-3">
                    Email
                </div>
                <div class="col-1">
                    Ciudad
                </div>
            </div>
        </li>
    </ul>
</div>

@for(student of students; track student.student_id){
    <div class="container text-center">
        <div class="accordion-item">
            <ul class="list-group accordion-header text-center">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1">
                            {{student.name}}
                        </div>
                        <div class="col-2">
                            {{student.last_name}}
                        </div>
                        <div class="col-2">
                            {{student.id_document}}
                        </div>
                        <div class="col-2">
                            {{student.phone_number}}
                        </div>
                        <div class="col-3">
                            {{student.email}}
                        </div>
                        <div class="col-1">
                            {{student.city}}
                        </div>
                        <div class="col-1 text-end">
                            @if(student.classes.length > 0){
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + student.student_id" aria-expanded="true" [attr.aria-controls]="student.student_id">
                            ^</button>
                            }
                        </div>
                    </div>       
                </li>
            </ul>

            <div [id]="student.student_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group text-center ">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    <h5>Profesor</h5>
                                </div>
                                <div class="col-4">
                                    <h5>Nivel de la clase</h5>
                                </div>
                                <div class="col-4">
                                    <h5>Nombe de la clase</h5>
                                </div>
                                @for(class of student.classes; track class.class_id){
                                    <div class="col-4 my-1">
                                        {{class.class_teacher}}
                                    </div>
                                    <div class="col-4 my-1">
                                        {{class.class_level}}
                                    </div>
                                    <div class="col-4 my-1">
                                        {{class.class_name}}
                                    </div>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
                                
            </div>
        </div>
    </div>
}  
<div class="mb-5"></div>


<app-footer></app-footer>