<app-header></app-header>

<div class="container text-center">
    <form [formGroup] = "orderForm" id="order">
        <div class="row my-5">
            <h3 class="col-4">Gestion de classes</h3>
            <div class="col-5 mt-2">
                <p class="d-inline-flex">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Filtros
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="container row">
                            <input type="text" formControlName="class" class="form-control col-3" placeholder="Busqueda por nombre de la clase">
                            <input type="text" formControlName="last_name" class="form-control mt-3 col-3" placeholder="Busqueda por apellido del profesor">
                            <input type="text" formControlName="class_name" class="form-control mt-3 col-3" placeholder="Busqueda por nombre de la clase">
                            <label for="level" class="form-label">Level</label>
                            <select id="level" class="form-select" formControlName="level">
                                @for(level of levels; track level.id){
                                    <option [value]="level.id">{{level.name}}</option>
                                }
                            </select>
                            <button class="btn btn-primary col-5 mx-2 mt-3" (click)="filter()" type="button">Buscar</button>
                            <button class="btn btn-primary col-5 mx-2 mt-3" (click)="deleteFilter()" type="button">Borrar flitros</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 mt-2">Ordenar:</div>
            <div class="col-2">
                <select id="order" class="form-select mt-2 sm" formControlName="select" (click)="order()">
                    <option value="lastName_asc">Apellido ascendente</option>
                    <option value="lastName_desc">Apellido descendente</option>
                    <option value="level_asc">Nivel ascendente</option>
                    <option value="level_desc">Nivel descendente</option>
                    <option value="className_asc">Clase ascendente</option>
                    <option value="className_desc">Clase descendente</option>
                </select>
            </div>
        </div>
    </form>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1 mt-2">
                    <h5>Nombre del profesor</h5>
                </div>
                <div class="col-1 mt-2">
                    <h5>Apellido del profesor</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Nombre de la clase</h5>
                </div>
                <div class="col-1 mt-3">
                    <h5>Nivel</h5>
                </div>
                <div class="col-2 mt-3">
                    <h5>Calendario</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Nombre del aula</h5>
                </div>
                <div class="col-1 mt-2">
                    <h5>Estado</h5>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="accordion container mb-5" id="accordionExample">
    @for(class of classes; track class.class_id){
        <div class="accordion-item">
                <ul class="list-group text-center accordion-header">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1">
                                {{class.teacher_name}}
                            </div>
                            <div class="col-1">
                                {{class.teacher_last_name}}
                            </div>
                            <div class="col-2">
                                {{class.class_name}}
                            </div>
                            <div class="col-1">
                                {{class.class_level}}
                            </div>
                            <div class="col-3">
                                {{class.schedule}}
                            </div>
                            <div class="col-1">
                                {{class.room_number}}
                            </div>
                            <div class="col-1">
                                @if (class.class_status_id === "1") {
                                    <p class="text-success">Activo</p>
                                } @else {
                                    <p class="text-danger">Inactivo</p>
                                }
                            </div>
                            <div class="col-1 text-end">
                                <button class="btn btn-success btn-sm" (click)="openStudentsModal(class)">A.ES</button>
                                <button class="btn btn-success btn-sm" (click)="openTeachersModal(class)">A.PR</button>
                                <button class="btn btn-primary btn-sm" (click)="openEditModal(class)">M</button>
                                <button class="btn btn-secondary btn-sm" (click)="desactivate(class)">D</button>
                                <button class="btn btn-danger btn-sm" (click)="openDeleteModal(class)">E</button>     
                            </div>
                            <div class="col-1 text-end">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + class.class_id" aria-expanded="true" [attr.aria-controls]="class.class_id">
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>

                <div [id]="class.class_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1">
                                        <h5>Nombre</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Apellidos</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Número de identidicación</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Número de telefono</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Cumpleaños</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Email</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Ciudad</h5>
                                    </div>
                                    @for(student of class.students; track student.id){
                                        <div class="col-1 my-3">
                                            {{student.name}}
                                        </div>
                                        <div class="col-1 my-3">
                                            {{student.last_name}}
                                        </div>
                                        <div class="col-2 my-3">
                                            {{student.document}}
                                        </div>
                                        <div class="col-2 my-3">
                                            {{student.mobile}}
                                        </div>
                                        <div class="col-1 my-3">
                                        <small>{{student.birthday}}</small>
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.email}}
                                        </div>
                                        <div class="col-1 my-3">
                                            {{student.city}}
                                        </div>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    }
</div>

<form [formGroup] = "addClassesForm">
    <div class="container">
        <div class="row mb-3">
            <div class="col-6">
                <label for="namme" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre">
            </div>
            <div class="col-3">
                <label for="teacher" class="form-label">Teacher</label>
                <select class="form-select" id="teacher" formControlName="teacher">
                    @for(teacher of teachers; track teacher.teacher_id){
                        <option [value]="teacher.teacher_id">{{teacher.name}} {{teacher.last_name}}</option>
                    }
                </select>
            </div>
            <div class="col-3">
                <label for="level" class="form-label">Level</label>
                <select id="level" class="form-select" formControlName="level">
                    @for(level of levels; track level.id){
                        <option [value]="level.id">{{level.name}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-7">
                <label for="schedule" class="form-label">Calendario</label>
                <input type="text" class="form-control" id="schedule" formControlName="schedule" placeholder="Lunes y Miércoles 10:00-12:00 ">
            </div>
            <div class="col-5">
                <label for="class" class="form-label">Clase</label>
                <input type="text" class="form-control" id="class" formControlName="class" placeholder="Aula 101">
            </div>

        </div>
        <div class="text-center">
            <button class="btn btn-primary my-5" (click)="addClass()">Añadir clase</button>
        </div>
    </div>
</form>

<!-- Edit modal -->
<div class="modal" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar usuario</h1>
                @if(!charge){
                    <button type="button" class="btn-close" (click)="closeEditModal()"></button>
                } @else {
                    <div class="spinner-border text-secondary mx-auto" role="status">
                    <span class="visually-hidden">Loading...</span>
                    </div>
                }
            </div>
            <div class="modal-body">
                <form [formGroup] = "editClassesForm" id="editForm">
                    <label for="namme" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre">
                    <label for="level" class="form-label">Level</label>
                    <select id="level" class="form-select" formControlName="level">
                        @for(level of levels; track level.id){
                            <option [value]="level.id">{{level.name}}</option>
                        }
                    </select>
                    <label for="schedule" class="form-label">Calendario</label>
                    <input type="text" class="form-control" id="schedule" formControlName="schedule" placeholder="Lunes y Miércoles 10:00-12:00 ">

                    <label for="class" class="form-label">Clase</label>
                    <input type="text" class="form-control" id="class" formControlName="class" placeholder="Aula 101">
                </form>
            </div>
            @if (!charge){
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="modify()">Editar</button>
            </div>
            } @else {
            <div class="spinner-border text-primary mx-auto mb-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            }
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Borrar este profesor?</h1>
            @if(!charge){
                <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
            } @else {
                <div class="spinner-border text-secondary mx-auto" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
            }
            </div>
        <div class="modal-body text-center">
            <p>Nombre: {{deleteVariables.teacher}}</p>
            <p>Apellido: {{deleteVariables.level}}</p>
            <p>Número de teléfono: {{deleteVariables.type}}</p>
            <p>Email: {{deleteVariables.status}}</p>
        </div>
        @if (!charge){
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
            </div>
        } @else {
            <div class="spinner-border text-primary mx-auto mb-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
        </div>
    </div>
</div>

<!-- Teachers modal -->

<div class="modal" id="classTeachersModal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @if(teachers.name){
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir o eliminar profesores a {{relationsVariables.name}}</h1>
                }
            @if(!charge){
                <button type="button" class="btn-close" (click)="closeTeachersModal()"></button>
            } @else {
                <div class="spinner-border text-secondary mx-auto" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
            }
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-6 border-end">
                        <h4 class="border-bottom">Profesores que tiene la clase</h4>
                        <div class="row my-4">
                            <div class="col-3">
                                Nombre del profesor
                            </div>
                            <div class="col-4">
                                Apellidos profesor
                            </div>
                            <div class="col-3">
                                Departamento
                            </div>
                        </div>
                        @for(teacherId of teachersId; track teacherId.teacher_id){
                            <div class="row mb-3 me-1">
                                <div class="col-3">
                                    {{teacherId.teacher_name}}
                                </div>
                                <div class="col-4">
                                    {{teacherId.teacher_last_name}}
                                </div>
                                <div class="col-3">
                                    {{teacherId.teacher_department}}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger" (click)="deleteTeacher(teacherId)">Eliminar</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-6 border-start">
                        <h4 class="border-bottom">Profesores</h4>
                        <div class="row my-4">
                            <div class="col-3">
                                Nombre del profesor
                            </div>
                            <div class="col-4">
                                Apellidos profesor
                            </div>
                            <div class="col-3">
                                Departamento
                            </div>
                        </div>
                        @for(teacher of teachers; track teachers.teachers_id){
                            <div class="row mb-3">
                                <div class="col-3">
                                    {{teacher.name}}
                                </div>
                                <div class="col-4">
                                    {{teacher.last_name}}
                                </div>
                                <div class="col-3">
                                    {{teacher.department}}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary" (click)="addTeacher(teacher)">Añadir</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Students modal -->
<div class="modal" id="classStudentsModal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @if(students.name){
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir o eliminar estudiantes a {{relationsVariables.name}}</h1>
                }
            @if(!charge){
                <button type="button" class="btn-close" (click)="closeStudentsModal()"></button>
            } @else {
                <div class="spinner-border text-secondary mx-auto" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
            }
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-6 border-end">
                        <h4 class="border-bottom">Alumnos que tiene la clase</h4>
                        <div class="row my-4">
                            <div class="col-3">
                                Nombre del alumno
                            </div>
                            <div class="col-2">
                                Apellidos del alumno
                            </div>
                            <div class="col-2">
                                Nivel del alumno
                            </div>
                            <div class="col-3">
                                Ciudad del alumno
                            </div>
                        </div>
                        @for(studentId of studentsId; track studentId.student_id){
                            <div class="row mb-3 me-1">
                                <div class="col-3">
                                    {{studentId.student_name}}
                                </div>
                                <div class="col-2">
                                    {{studentId.student_last_name}}
                                </div>
                                <div class="col-2">
                                    {{studentId.student_level}}
                                </div>
                                <div class="col-3">
                                    {{studentId.student_city}}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger" (click)="deleteStudent(studentId)">Eliminar</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-6 border-start">
                        <h4 class="border-bottom">Alumnos</h4>
                        <div class="row my-4">
                            <div class="col-3">
                                Nombre de la clase
                            </div>
                            <div class="col-2">
                                Nivel de la clase
                            </div>
                            <div class="col-2">
                                Nombre profesor
                            </div>
                            <div class="col-3">
                                Apellidos profesor
                            </div>
                        </div>
                        @for(student of students; track student.student_id){
                            <div class="row mb-3">
                                <div class="col-3">
                                    {{student.name}}
                                </div>
                                <div class="col-2">
                                    {{student.last_name}}
                                </div>
                                <div class="col-2">
                                    {{student.student_level}}
                                </div>
                                <div class="col-3">
                                    {{student.city}}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary" (click)="addStudent(student)">Añadir</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>