<app-header></app-header>

<h3 class="text-center my-5">Gestion de classes</h3>

<div class="container text-center">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-2 mt-2">
                    <h5>Profesor</h5>
                </div>
                <div class="col-1 mt-2">
                    <h5>Nivel</h5>
                </div>
                <div class="col-3 mt-2">
                    <h5>Tipo de clase</h5>
                </div>
                <div class="col-3 mt-2">
                    <h5>Número de estudiantes</h5>
                </div>
                <div class="col-1 mt-2">
                    <h5>Estado</h5>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="accordion container mb-5" id="accordionExample">
    @for(class of classes; track class.id){
        <div class="accordion-item">
            
                <ul class="list-group text-center accordion-header">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                {{class.teacher}}
                            </div>
                            <div class="col-1">
                                {{class.level}}
                            </div>
                            <div class="col-3">
                                {{class.type}}
                            </div>
                            <div class="col-3">
                                {{class.number_students}}
                            </div>
                            <div class="col-1">
                                @if (class.status) {
                                    <p class="text-success">Activo</p>
                                } @else {
                                    <p class="text-danger">Inactivo</p>
                                }
                            </div>
                            <div class="col-1 text-end">
                                <button class="btn btn-primary btn-sm" (click)="openEditModal(class)">M</button>
                                <button class="btn btn-secondary btn-sm" (click)="desactivate(class)">D</button>
                                <button class="btn btn-danger btn-sm" (click)="openDeleteModal(class)">E</button>     
                            </div>
                            <div class="col-1 text-end">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + class.id" aria-expanded="true" [attr.aria-controls]="class.id">
                                </button>
                            </div>
                        </div>       
                    </li>
                </ul>

                <div [id]="class.id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1">
                                        <h5>Nombre</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Apellidos</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Número de identidicación</h5>
                                    </div>
                                    <div class="col-2">
                                        <h5>Número de telefono</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Cumpleaños</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Email</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Ciudad</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Género</h5>
                                    </div>
                                    @for(student of class.students; track student.id){
                                        
                                        <div class="col-1 my-3">
                                            {{student.name}}
                                        </div>
                                        <div class="col-1 my-3">
                                            {{student.surname}}
                                        </div>
                                        <div class="col-2 my-3">
                                            {{student.document}}
                                        </div>
                                        <div class="col-2 my-3">
                                            {{student.mobile}}
                                        </div>
                                        <div class="col-1 my-3">
                                        <small>{{student.birthday}}</small>
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.email}}
                                        </div>
                                        <div class="col-1 my-3">
                                            {{student.city}}
                                        </div>
                                        <div class="col-1 my-3">
                                            {{student.genre}}
                                        </div>
                                    }
                                </div>
                            </li>
                        </ul>
                                    
                    </div>
                </div>
        </div>
    }  
</div>

<form [formGroup] = "addClassesForm">
    <div class="container">
        <div class="row mb-4">
            <div class="col-4">
                <label for="teacher" class="form-label">Teacher</label>
                <input type="text" class="form-control" id="teacher" formControlName="teacher" placeholder="Manolo">
            </div>
            <div class="col-2">
                <label for="level" class="form-label">Level</label>
                <select id="level" class="form-select" formControlName="level">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                </select>
            </div>
            <div class="col-3">
                <label for="type" class="form-label">Tipo</label>
                <input type="text" class="form-control" id="type" formControlName="type" placeholder="Full time">
            </div>
            <div class="col-3">
                <label for="status" class="form-label">Estado</label>
                <select id="status" class="form-select" formControlName="status">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
        </div>
        <div class=" text-center">
            <button class="btn btn-primary my-5">Añadir clase</button>
        </div>
    </div>
</form>

<!-- Edit modal -->

<div class="modal" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header"> 
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar usuario</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeEditModal()"></button>
          } @else {
            <div class="spinner-border text-secondary mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body">
          
            <form [formGroup] = "editClassesForm" id="editForm">

                <p class="mt-1">Profesor</p>
                <input type="text" class="form-control" formControlName="teacher" placeholder="Nombre del profesor">

                <p class="mt-1">Nivel</p>
                <input type="text" class="form-control" formControlName="level" placeholder="Nivel">

                <p class="mt-1">Typo de clase</p>
                <input type="text" class="form-control" formControlName="type" placeholder="Typo de clase">

                <p class="mt-3">Elige un estado</p>
                <select class="form-select mb-3" formControlName="status" aria-label="Select-status">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </form>
        
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="modify()">Editar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary mx-auto mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

  <!-- Delete modal -->

  <div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Borrar este profesor?</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
          } @else {
            <div class="spinner-border text-secondary mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body text-center">
          
            <p>Nombre: {{deleteVariables.teacher}}</p>
            <p>Apellido: {{deleteVariables.level}}</p>
            <p>Número de teléfono: {{deleteVariables.type}}</p>
            <p>Email: {{deleteVariables.status}}</p>

        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
          </div>
        } @else {
          <div class="spinner-border text-primary mx-auto mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

<app-footer></app-footer>