<app-header></app-header>

<h3 class="text-center mt-4">Gestión de profesores</h3>

<div class="container text-center mt-4">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1">
                    Nombre
                </div>
                <div class="col-1">
                    Apellidos
                </div>
                <div class="col-1">
                    Documento de identificación
                </div>
                <div class="col-1">
                    Fecha de nacimiento
                </div>
                <div class="col-1">
                    Número de télefono
                </div>
                <div class="col-3">
                    Email
                </div>
                <div class="col-1">
                    Ciudad
                </div>
                <div class="col-1">
                    Género
                </div>
                <div class="col-1">
                    Status
                </div>
                <div class="col-1">
                    Herramientas
                </div>
            </div>
        </li>
    </ul>
</div>

@for(student of students; track student.id){
    <div class="container text-center">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-1">
                        {{student.name}}
                    </div>
                    <div class="col-1">
                        {{student.surname}}
                    </div>
                    <div class="col-1">
                        {{student.document}}
                    </div>
                    <div class="col-1">
                        {{student.birthday}}
                    </div>
                    <div class="col-1">
                        {{student.mobile}}
                    </div>
                    <div class="col-3">
                        {{student.email}}
                    </div>
                    <div class="col-1">
                        {{student.city}}
                    </div>
                    <div class="col-1">
                        {{student.genre}}
                    </div>
                    <div class="col-1">
                        @if (student.status) {
                            <p class="text-success">Activo</p>
                        } @else {
                            <p class="text-danger">Inactivo</p>
                        }
                    </div>
                    <div class="col-1 text-end">
                        <button class="btn btn-primary btn-sm">M</button>
                        <button class="btn btn-secondary btn-sm">D</button>
                        <button class="btn btn-danger btn-sm">E</button>     
                    </div>
                </div>       
            </li>
        </ul>
    </div>
}  
<div class="mb-5"></div>

<app-footer></app-footer>