<app-header></app-header>

<h3 class="text-center mt-4">Gestión de alumnos</h3>

<div class="container text-center mt-4">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1">
                    Nombre
                </div>
                <div class="col-1">
                    Apellidos
                </div>
                <div class="col-1">
                    Documento de identificación
                </div>
                <div class="col-1">
                    Fecha de nacimiento
                </div>
                <div class="col-1">
                    Número de télefono
                </div>
                <div class="col-3">
                    Email
                </div>
                <div class="col-1">
                    Ciudad
                </div>
                <div class="col-1">
                    Género
                </div>
                <div class="col-1">
                    Status
                </div>
                <div class="col-1">
                    Herramientas
                </div>
            </div>
        </li>
    </ul>
</div>

@for(student of students; track student.id){
    <div class="container text-center">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-1">
                        {{student.name}}
                    </div>
                    <div class="col-1">
                        {{student.surname}}
                    </div>
                    <div class="col-1">
                        {{student.document}}
                    </div>
                    <div class="col-1">
                        {{student.birthday}}
                    </div>
                    <div class="col-1">
                        {{student.mobile}}
                    </div>
                    <div class="col-3">
                        {{student.email}}
                    </div>
                    <div class="col-1">
                        {{student.city}}
                    </div>
                    <div class="col-1">
                        {{student.genre}}
                    </div>
                    <div class="col-1">
                        @if (student.status) {
                            <p class="text-success">Activo</p>
                        } @else {
                            <p class="text-danger">Inactivo</p>
                        }
                    </div>
                    <div class="col-1 text-end">
                        <button class="btn btn-primary btn-sm">M</button>
                        <button class="btn btn-secondary btn-sm">D</button>
                        <button class="btn btn-danger btn-sm">E</button>     
                    </div>
                </div>       
            </li>
        </ul>
    </div>
}  
<div class="mb-5"></div>

<form [formGroup] = "addStudentsForm">
    <div class="container">
        <div class="row mb-4">
            <div class="col-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Manolo">
            </div>
            <div class="col-4">
                <label for="surname" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Fernández Lopez">
            </div>
            <div class="col-3">
                <label for="document" class="form-label">Documento de identificación</label>
                <input type="text" class="form-control" id="document" formControlName="document" placeholder="x123456789x">
            </div>
            <div class="col-2">
                <label for="city" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="city" formControlName="city" placeholder="Madrid">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2">
                <label for="birthday">Cumpleaños</label>
                <input id="birthday" class="form-control mt-2" type="date" formControlName="birthday" />
            </div>
            <div class="col-3">
                <label for="mobil" class="form-label">Número de telefono</label>
                <input type="text" class="form-control" id="mobil" formControlName="mobil" placeholder="+321321456987">
            </div>
            <div class="col-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
            </div>
            <div class="col-2">
                <label for="genre" class="form-label">Género</label>
                <select id="genre" class="form-select" formControlName="genre">
                    <option value="male">Hombre</option>
                    <option value="female">Mujer</option>
                </select>
            </div>
            <div class="col-2">
                <label for="status" class="form-label">Estado</label>
                <select id="status" class="form-select" formControlName="status">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
        </div>
        <div class=" text-center">
            <button class="btn btn-primary my-5">Añadir alumno</button>
        </div>
    </div>
</form>

<app-footer></app-footer>