
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="mb-4"><h4>Contacto</h4></div>
            <div>+34 914 354 801</div>
            <div>+34 618 337 172</div>
            <div>info&#64;ailespanol.com</div>
        </div>
        <div class="col">
            <div class="mb-4"><h4>Direcciones</h4></div>
            <div>Calle O'Donnell 27, 1° Izq, 28009  Madrid (España)</div>
            <div>Calle Pacífico 16, 29004  Málaga (España)</div>
            <div>Calle de Mallorca, 201, 08036  Barcelona (España)</div>
            <div>Avenida Regne de València 15, 1º, 46005  Valencia (Spain)</div>
        </div>
        <div class="col">
            <div class="mb-4"><h5>© AIL Español 2024</h5></div>
            <p><a href="https://ailespanol.com/es/terminos-y-condiciones-de-nuestros-cursos-de-espanol/">Términos y Condiciones</a></p>
            <p><a href="https://ailespanol.com/es/politica-de-privacidad/">Política de Privacidad</a></p>
            <p><a href="https://ailespanol.com/es/politica-cookies-ail-espanol/">Política de Cookies</a></p>
        </div>
    </div>
</div>