<app-header></app-header>

<div class="container text-center">
    <form [formGroup] = "orderForm" id="order">
        <div class="row my-5">
            <h3 class="col-3">Gestión de profesores</h3>
            <div class="col-6 mt-2">
                <p class="d-inline-flex">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Filtros
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="container row">
                            <input type="text" formControlName="last_name" class="form-control col-3" placeholder="Busqueda por apellido">
                            <input type="text" formControlName="department" class="form-control mt-3 col-3" placeholder="Busqueda por departamento">
                            <input type="text" formControlName="phone_number" class="form-control mt-3 col-3" placeholder="Busqueda por número de teléfono">
                            <input type="text" formControlName="email" class="form-control mt-3 col-3" placeholder="Busqueda por email">
                            <button class="btn btn-primary col-5 mx-3 mt-3" (click)="filter()" type="button">Buscar</button>
                            <button class="btn btn-primary col-5 mx-3 mt-3" (click)="deleteFilter()" type="button">Borrar flitros</button>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-1 mt-2">Ordenar:</div>
            <div class="col-2">
                <select id="order" class="form-select mt-2 sm" formControlName="select" (click)="order()">
                    <option value="lastName_asc">Apellido ascendente</option>
                    <option value="lastName_desc">Apellido descendente</option>
                    <option value="department_asc">Departamento ascendente</option>
                    <option value="department_desc">Departamento descendente</option>
                </select> 
            </div>
        </div>
    </form>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1 mt-2">
                    <h5>Nombre</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Apellidos</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Número de télefono</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Email</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Departamento</h5>
                </div>
                <div class="col-1 mt-2">
                    <h5>Status</h5>
                </div>
                <div class="col-1 mt-2">
                    <h5>Herramientas</h5>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="accordion container mb-5" id="accordionExample">
    @for(teacher of teachers; track teacher.teacher_id){
        <div class="accordion-item">
            
                <ul class="list-group text-center accordion-header">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1">
                                {{teacher.name}}
                            </div>
                            <div class="col-2">
                                {{teacher.last_name}}
                            </div>
                            <div class="col-2">
                                {{teacher.phone_number}}
                            </div>
                            <div class="col-2">
                                {{teacher.email}}
                            </div>
                            <div class="col-2">
                                {{teacher.department}}
                            </div>
                            <div class="col-1">
                                @if (teacher.status) {
                                    <p class="text-success">Activo</p>
                                } @else {
                                    <p class="text-danger">Inactivo</p>
                                }
                            </div>
                            <div class="col-1 text-end">
                                <button class="btn btn-primary btn-sm" (click)="openEditModal(teacher)">M</button>
                                <button class="btn btn-secondary btn-sm">D</button>
                                <button class="btn btn-danger btn-sm" (click)="openDeleteModal(teacher)">E</button>     
                            </div>
                            <div class="col-1 text-end">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + teacher.teacher_id" aria-expanded="true" [attr.aria-controls]="teacher.teacher_id">
                                </button>
                            </div>
                        </div>       
                    </li>
                </ul>

                <div [id]="teacher.teacher_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <h5>Profesor</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5>Nivel de la clase</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5>Nombre de la clase</h5>
                                    </div>
                                    @for(class of teacher.classes; track class.class_id){
                                        <div class="col-4 my-1">
                                            {{class.class_teacher}}
                                        </div>
                                        <div class="col-4 my-1">
                                            {{class.class_level}}
                                        </div>
                                        <div class="col-4 my-1">
                                            {{class.class_name}}
                                        </div>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            
        </div>
    }  
</div>

<form [formGroup] = "addTeachersForm">
    <div class="container">
        <div class="row mb-4">
            <div class="col-4">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Manolo">
            </div>
            <div class="col-5">
                <label for="surname" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Fernández Lopez">
            </div>
            <div class="col-3">
                <label for="mobile" class="form-label">Número de telefono</label>
                <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="+321321456987">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3"></div>
            <div class="col-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
            </div>
            <div class="col-3">
                <label for="status" class="form-label">Estado</label>
                <select id="status" class="form-select" formControlName="status">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <div class="col-3"></div>
        </div>
        <div class=" text-center">
            <button class="btn btn-primary my-5" (click)="addTeacher()">Añadir profesor</button>
        </div>
    </div>
</form>

<!-- Edit modal -->

<div class="modal" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header"> 
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar usuario</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeEditModal()"></button>
          } @else {
            <div class="spinner-border text-secondary mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body">
          
            <form [formGroup] = "editTeachersForm" id="editForm">

                <p class="mt-1">Nombre</p>
                <input type="text" class="form-control" formControlName="name" placeholder="Nombre del alumno">

                <p class="mt-1">Apellidos</p>
                <input type="text" class="form-control" formControlName="surname" placeholder="Apellidos del alumno">

                <p class="mt-1">Número de teléfono</p>
                <input type="text" class="form-control" formControlName="mobile" placeholder="Numero del alumno">

                <p class="mt-1">Email</p>
                <input type="email" class="form-control" formControlName="email" placeholder="Email del alumno">

                <p class="mt-3">Elige un estado</p>
                <select class="form-select mb-3" formControlName="status" aria-label="Select-status">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </form>
        
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="modify()">Editar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary mx-auto mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

  <!-- Delete modal -->

  <div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Borrar este profesor?</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
          } @else {
            <div class="spinner-border text-secondary mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body text-center">
          
            <p>Nombre: {{deleteVariables.name}}</p>
            <p>Apellido: {{deleteVariables.surname}}</p>
            <p>Número de teléfono: {{deleteVariables.mobile}}</p>
            <p>Email: {{deleteVariables.email}}</p>

        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
          </div>
        } @else {
          <div class="spinner-border text-primary mx-auto mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

<app-footer></app-footer>