<app-header></app-header>

  <!-- ALUMNOS -->
  <div class="text-center card-group mb-5 mt-3">
    @for(alumno of alumnos; track alumnos.idalumnos){
      <div class="mx-auto">
        <div class="card m-2" style="width: 18rem;">
          <div class="card-header">
            {{alumno.nombre_alumno + alumno.apellido_alumno}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{alumno.numerodocumento}}</li>
            <li class="list-group-item">{{alumno.fechanacimiento}}</li>
            <li class="list-group-item">{{alumno.telefono_alumno}}</li>
            <li class="list-group-item">{{alumno.email_alumno}}</li>
            <li class="list-group-item">{{alumno.ciudad_alumno}}</li>
            <li class="list-group-item">{{alumno.pais_PaisCodigo}}</li>
          </ul>
        </div>
      </div>
    }
  </div>

<app-footer></app-footer>