<app-header></app-header>

<div class="text-center card-group mb-5 mt-3">
  @for(exam of exams; track exam){
    <div class="mx-auto">
      <div class="card m-2" style="width: 22rem;">
        <div class="card-header">
          {{exam.name}}
        </div>
        @for(question of exam.question; track question.id){
          <ul class="list-group list-group p-3">
            <input class="form-check-input" type="checkbox" value="" id="firstCheckbox" (click)="select(question)">
            <label class="form-check-label" for="firstCheckbox">{{question.statement}}</label>
          @for(response of question.responses; track response){
            <ul class="list-group list-group">
              <li class="list-group">{{response.letter}}. {{response.response}}</li>
            </ul>
          }
        </ul>
      }
      </div>
    </div>
  }
</div>

<div class="text-center card-group mx-auto">
    @for(question of selected; track question.id){
      <button type="button" class="btn-close" aria-label="Close" (click)="select(question)"></button>
      <ul class="list-group list-group p-3">
        <li class="list-group">{{question.statement}}</li>
      @for(response of question.responses; track response){
        <ul class="list-group list-group">
          <li class="list-group">{{response.letter}}. {{response.response}}</li>
        </ul>
      }
      </ul>
    }
</div>

<div class="text-center my-5">
  <button type="button" class="btn btn-primary">Download exams PDF</button>
</div>


<app-footer></app-footer>