<app-header></app-header>

<div class="text-center card-group mb-5 mt-3">
  @for(exam of exams; track exam){
    <div class="mx-auto">
      <div class="card m-2" style="width: 22rem;">
        <div class="card-header">
          {{exam.name}}
        </div>
        @for(question of exam.question; track question.id){
          <ul class="list-group list-group p-3">
            <input class="form-check-input" type="checkbox" value="" id="firstCheckbox" (click)="select(question)">
            <label class="form-check-label" for="firstCheckbox">{{question.statement}}</label>
          @for(response of question.responses; track response){
            <ul class="list-group list-group">
              <li class="list-group">{{response.letter}}. {{response.response}}</li>
            </ul>
          }
        </ul>
      }
      </div>
    </div>
  }
</div>

<div class="text-center card-group mx-auto">
    @for(question of selected; track question.id){
      <button type="button" class="btn-close" aria-label="Close" (click)="select(question)"></button>
      <ul class="list-group list-group p-3">
        <li class="list-group">{{question.statement}}</li>
      @for(response of question.responses; track response){
        <ul class="list-group list-group">
          <li class="list-group">{{response.letter}}. {{response.response}}</li>
        </ul>
      }
      </ul>
    }
</div>

<div class="text-center my-5">
  <button type="button mx-2" class="btn btn-primary">Descargar examen PDF</button>
  <button type="button mx-2" class="btn btn-primary" (click)="openSendExamModal()">Enviar formulario online</button>
</div>

<!-- Exam online modal -->

<div class="modal" id="sendExamModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Envio de examen online</h1>
        @if(!charge){
          <button type="button" class="btn-close" (click)="closeSendExamModal()"></button>
        } @else {
          <div class="spinner-border text-secondary mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>            
        }
      </div>
      <div class="modal-body">
        
        <form [formGroup] = "sendExamForm">
          <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Link with href
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              @for(alumno of alumnos; track alumno.idalumnos){
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="student" id="student" formControlName="student" (click)="addStudent(alumno)">
                <label class="form-check-label" for="idalumno">
                  {{alumno.nombre_alumno + " " + alumno.apellido_alumno}}
                </label>
              </div>
            }
            </div>
          </div>
          <div class="my-3">
            <label for="studentEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="studentEmail" placeholder="name@example.com" formControlName="studentEmail">
          </div>
        </form> 
      
      </div>
      @if (!charge){
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeSendExamModal()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="sendExam()">Editar</button>
        </div>
      } @else {
        <div class="spinner-border text-primary mx-auto mb-3" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>          
      }
    </div>
  </div>
</div>


<app-footer></app-footer>