<app-header></app-header>

<div
  id="carouselExampleIndicators"
  class="carousel slide border mx-5 rounded-3 mb-5 mt-3"
>
  <div class="carousel-inner">
    <!-- EXAMS -->
    <div class="carousel-item active text-center mt-2">
      <p>Temporal fix to carousel</p>
    </div>

    @for(exam of exams; track exam.id){

    <div class="carousel-item text-center mx-auto">
      <h3>{{ exam.name }}</h3>

      @for(question of exam.question; track question.id){

      <p class="mt-3">{{ question.statement }}</p>

      @for(response of question.responses; track response){
      <p>{{ response }}</p>
      }

      <input
        type="checkbox"
        class="btn-check"
        id="btn-check-11-outlined"
        autocomplete="off"
      />
      <label class="btn btn-outline-success" for="btn-check-11-outlined"
        >Seleccionar</label
      ><br />

      }
    </div>

    }
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="text-center mb-3 mt-4">
    <a href="http://localhost:4000/api/examPdf"
      ><button type="button" class="btn btn-danger mx-auto">
        Crear PDF
      </button></a
    >
  </div>
</div>

<app-footer></app-footer>
