<app-header></app-header>

<div class="container text-center">
    <form [formGroup] = "orderForm" id="order">
        <div class="row mt-5 mb-4">
            <h3 class="col-2">Clases</h3>
            <div class="col-7 mt-2">
                <p class="d-inline-flex">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Filtros
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="container row">
                            <input type="text" formControlName="class" class="form-control col-3" placeholder="Busqueda por nombre de la clase">
                            <input type="text" formControlName="last_name" class="form-control mt-3 col-3" placeholder="Busqueda por apellido del profesor">
                            <input type="text" formControlName="class_name" class="form-control mt-3 col-3" placeholder="Busqueda por nombre del aula">
                            <input type="text" formControlName="level" class="form-control mt-3 col-3" placeholder="Busqueda por nivel">
                            <button class="btn btn-primary col-5 mx-3 mt-3" (click)="filter()" type="button">Buscar</button>
                            <button class="btn btn-primary col-5 mx-3 mt-3" (click)="deleteFilter()" type="button">Borrar flitros</button>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-1 mt-2">Ordenar:</div>
            <div class="col-2">
                <select id="order" class="form-select mt-2 sm" formControlName="select" (click)="order()">
                    <option value="lastName_asc">Apellido ascendente</option>
                    <option value="lastName_desc">Apellido descendente</option>
                    <option value="level_asc">Nivel ascendente</option>
                    <option value="level_desc">Nivel descendente</option>
                    <option value="className_asc">Clase ascendente</option>
                    <option value="className_desc">Clase descendente</option>
                </select> 
            </div>
        </div>
    </form>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1 mt-3">
                    <h5>Nombre del profesor</h5>
                </div>
                <div class="col-2 mt-3">
                    <h5>Apellido del profesor</h5>
                </div>
                <div class="col-2 mt-3">
                    <h5>Nombre de la clase</h5>
                </div>
                <div class="col-1 mt-3">
                    <h5>Nivel</h5>
                </div>
                <div class="col-3 mt-3">
                    <h5>Calendario</h5>
                </div>
                <div class="col-2 mt-3">
                    <h5>Nombre del aula</h5>
                </div>
                <div class="col-1">
                    
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="accordion container mb-5" id="accordionExample">
    @for(class of classes; track class.class_id){
        <div class="accordion-item">
            
                <ul class="list-group text-center accordion-header">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1">
                                {{class.teacher_name}}
                            </div>
                            <div class="col-2">
                                {{class.teacher_last_name}}
                            </div>
                            <div class="col-2">
                                {{class.class_name}}
                            </div>
                            <div class="col-1">
                                {{class.class_level}}
                            </div>
                            <div class="col-3">
                                {{class.schedule}}
                            </div>
                            <div class="col-2">
                                {{class.room_number}}
                            </div>
                            <div class="col-1 text-end">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + class.class_id" aria-expanded="true" [attr.aria-controls]="class.class_id">
                                </button>
                            </div>
                        </div>       
                    </li>
                </ul>

                <div [id]="class.class_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5>Nombre</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Apellidos</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Número de teléfono</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Email</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Ciudad</h5>
                                    </div>
                                    
                                    @for(student of class.students; track student.student_id){
                                        
                                        <div class="col-2 my-3">
                                            {{student.student_name}}
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.student_last_name}}
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.student_phone}}
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.student_email}}
                                        </div>
                                        <div class="col-1 my-3">
                                            {{student.student_city}}
                                        </div>
                                    }
                                </div>
                            </li>
                        </ul>
                                    
                    </div>
                </div>
        </div>
    }  
</div>

<app-footer></app-footer>