<app-header></app-header>

<h3 class="text-center my-5">Clases</h3>

<div class="container text-center">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1 mt-3">
                    <h5>Nombre del profesor</h5>
                </div>
                <div class="col-2 mt-3">
                    <h5>Apellido del profesor</h5>
                </div>
                <div class="col-2 mt-3">
                    <h5>Nombre de la clase</h5>
                </div>
                <div class="col-1 mt-3">
                    <h5>Nivel</h5>
                </div>
                <div class="col-3 mt-3">
                    <h5>Calendario</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Nombre del aula</h5>
                </div>
                <div class="col-1 mt-2">
                    
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="accordion container mb-5" id="accordionExample">
    @for(class of classes; track class.class_id){
        <div class="accordion-item">
            
                <ul class="list-group text-center accordion-header">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1">
                                {{class.teacher_name}}
                            </div>
                            <div class="col-2">
                                {{class.teacher_last_name}}
                            </div>
                            <div class="col-2">
                                {{class.class_name}}
                            </div>
                            <div class="col-1">
                                {{class.class_level}}
                            </div>
                            <div class="col-3">
                                {{class.schedule}}
                            </div>
                            <div class="col-2">
                                {{class.room_number}}
                            </div>
                            <div class="col-1 text-end">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + class.class_id" aria-expanded="true" [attr.aria-controls]="class.class_id">
                                </button>
                            </div>
                        </div>       
                    </li>
                </ul>

                <div [id]="class.class_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5>Nombre</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Apellidos</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Número de telefono</h5>
                                    </div>
                                    <div class="col-3">
                                        <h5>Email</h5>
                                    </div>
                                    <div class="col-1">
                                        <h5>Ciudad</h5>
                                    </div>
                                    
                                    @for(student of class.students; track student.student_id){
                                        
                                        <div class="col-2 my-3">
                                            {{student.student_name}}
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.student_last_name}}
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.student_phone}}
                                        </div>
                                        <div class="col-3 my-3">
                                            {{student.student_email}}
                                        </div>
                                        <div class="col-1 my-3">
                                            {{student.student_city}}
                                        </div>
                                    }
                                </div>
                            </li>
                        </ul>
                                    
                    </div>
                </div>
        </div>
    }  
</div>

<app-footer></app-footer>