<app-header></app-header>

<h1 class="text-center mt-4">Gestionar preguntas</h1>

<form class="text-center" [formGroup] = "filterForm">
  <div class="container  mt-5">
    <div class="row">
      <div class="col">
        <p>Elige un nivel</p>
        <select id="levelStatement" class="form-select mb-3" placeholder="A1" formControlName="level" aria-label="A1" (change)="chargeSkills()">
          @for(level of levels; track level.id){
            <option [value]="level.id">{{level.name}}</option>
          }
        </select>
      </div>
      @if(filterForm.value.level){
        <div class="col">
          <p>Elige una destreza</p>
          <select id="skillStatement" class="form-select" placeholder="Elige una destreza" formControlName="skill" aria-label="Elige una destreza" (change)="chargeBlocks()">
            @for(skill of skills; track skill.id){
              <option [value]="skill.id">{{skill.name}}</option>
            }
          </select>
        </div>
      }
      @if(filterForm.value.skill){
        <div class="col">
          <p>Elige un bloque</p>
          <select class="form-select" formControlName="block" aria-label="Select-block">
            @for(block of blocks; track block.id){
              <option [value]="block.id">{{block.name}}</option>
            }
          </select>
        </div>
      }
      @if(filterForm.value.level && filterForm.value.skill){
        <div class="col-2 mt-4">
          <button class="btn btn-success mt-3 me-2" (click)="chargeStatements()">Buscar</button>
          <button class="btn btn-success mt-3 ms-2" (click)="cleanFilter()">Limpiar</button>
        </div>
      }
    </div>
  </div>
</form>@if(mode === "questions"){
  @for(question of questions; track question.id){
    <div class="card m-2">
      <div class="card-header">
        <div class="row mt-3">
          <div class="col-1 mt-2">
            @if (question.status === "active") {
                <p class="text-success">Activo</p>
            } @else {
                <p class="text-danger">Inactivo</p>
            }
          </div>
          <p class="col-3">Puntuación: {{question.puntuation}}</p>
          <h4 class="col">Pregunta</h4>
          <div class="col-4 text-end">
            <button class="btn btn-primary ms-5" (click)="openEditModal(question, 'question')">Modificar</button>
            <button class="btn btn-secondary ms-3" (click)="statusChange(question, 'question')">Desactivar</button>
            <button class="btn btn-danger ms-3" (click)="openDeleteModal(question, 'question')">Eliminar</button>
        </div>
        </div>
      </div>
      <div class="card-body text-center list-group list-group p-3">
        <div class="text-center my-3">
          <p>Pregunta: {{question.content}}</p>
          @if(question.base64_data !== null){
            <p>Imagen de la pregunta:</p>
            <img [src]="question.base64_data" style="max-width: 30rem; max-height: 25rem;">
          }
        </div>
        <div class="card m-2">
          @if(question.answers !== [] && question.answers !== null && question.answers !== undefined) {
            <div class="card-header">
              <div class="row">
                <div class="col-3"></div>
                <h4 class="col">Respuestas</h4>
                <div class="col-4 text-end">
                  <button class="btn btn-primary ms-5" (click)="openEditModal(question.answers, 'answers')">Modificar</button>
              </div>
              </div>
            </div>
            <div class="card-body text-center row">
              @for(answer of question.answers; track answer.id){
                <div class="col-3">
                  @if (answer.status === "active") {
                    <p class="text-success">Activo</p>
                  } @else {
                    <p class="text-danger">Inactivo</p>
                  }
                <button class="btn btn-secondary" (click)="statusChange(answer, 'answer')">Desactivar</button>
                <button class="btn btn-danger" (click)="openDeleteModal(answer, 'answer')">Eliminar</button>
                  @if(answer.is_correct){
                    <p class="list-group text-success fs-3"> {{answer.letter}}.</p>
                    @if(answer.content && answer.content !== undefined && answer.content !== null && answer.content !== "undefined"){<p>{{answer.content}}</p>}
                  } @else{
                      <p class="list-group"> <span class="text-danger fs-3">{{answer.letter}}.</span></p>
                      @if(answer.content && answer.content !== undefined && answer.content !== null && answer.content !== "undefined"){<p>{{answer.content}}</p>}
                    }
                    @if(answer.photo_id !== null){<img [src]="answer.base64_data"  style="max-width: 20rem; max-height: 15rem;">}
                  </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
} @else if(mode === "statements"){
  <div class="text-center card-group mb-5 mt-3 container">
      @for(statement of statements; track statement.id){
        <div class="mx-auto">
          <div class="card m-2" style="width: 80rem;">
            <div class="card-header">
              <div class="row mt-3">
                <div class="col-1 mt-2">
                  @if (statement.status === "active") {
                      <p class="text-success">Activo</p>
                  } @else {
                      <p class="text-danger">Inactivo</p>
                  }
                </div>
                <p class="col-3">Puntuación: {{statement.score}}</p>
                <h4 class="col">Enunciado</h4>
                <div class="col-4 text-end">
                  <button class="btn btn-primary ms-5" (click)="openEditModal(statement, 'statement')">Modificar</button>
                  <button class="btn btn-secondary ms-3" (click)="statusChange(statement, 'statement')">Desactivar</button>
                  <button class="btn btn-danger ms-3" (click)="openDeleteModal(statement, 'statement')">Eliminar</button>
              </div>
              </div>
            </div>
            <div class="card-body text-center">
              <p>Enunciado: {{statement.content}}</p>
              <p>Texto: {{statement.text}}</p>
              @if(statement.photo_id !== null){
                <p>Imagen del enunciado:</p>
                <img [src]="statement.photo_id" style="max-width: 40rem; max-height: 35rem;">
              }
            </div>
            @for(question of statement.questions[0]; track question.id){
              <div class="card m-2">
                <div class="card-header">
                  <div class="row mt-3">
                    <div class="col-1 mt-2">
                      @if (question.status === "active") {
                          <p class="text-success">Activo</p>
                      } @else {
                          <p class="text-danger">Inactivo</p>
                      }
                    </div>
                    <p class="col-3">Puntuación: {{question.puntuation}}</p>
                    <h4 class="col">Pregunta</h4>
                    <div class="col-4 text-end">
                      <button class="btn btn-primary ms-5" (click)="openEditModal(question, 'question')">Modificar</button>
                      <button class="btn btn-secondary ms-3" (click)="statusChange(question, 'question')">Desactivar</button>
                      <button class="btn btn-danger ms-3" (click)="openDeleteModal(question, 'question')">Eliminar</button>
                  </div>
                  </div>
                </div>
                <div class="card-body text-center list-group list-group p-3">
                  <div class="text-center my-3">
                    <p>Pregunta: {{question.content}}</p>
                    @if(question.base64_data !== null){
                      <p>Imagen de la pregunta:</p>
                      <img [src]="question.base64_data" style="max-width: 30rem; max-height: 25rem;">
                    }
                  </div>
                  <div class="card m-2">
                    @if(question.answers !== [] && question.answers !== null && question.answers !== undefined) {
                      <div class="card-header">
                        <div class="row">
                          <div class="col-3"></div>
                          <h4 class="col">Respuestas</h4>
                          <div class="col-4 text-end">
                            <button class="btn btn-primary ms-5" (click)="openEditModal(question.answers, 'answers')">Modificar</button>
                        </div>
                        </div>
                      </div>
                      <div class="card-body text-center row">
                        @for(answer of question.answers; track answer.id){
                          <div class="col-3">
                            @if (answer.status === "active") {
                              <p class="text-success">Activo</p>
                            } @else {
                              <p class="text-danger">Inactivo</p>
                            }
                          <button class="btn btn-secondary" (click)="statusChange(answer, 'answer')">Desactivar</button>
                          <button class="btn btn-danger" (click)="openDeleteModal(answer, 'answer')">Eliminar</button>
                            @if(answer.is_correct){
                              <p class="list-group text-success fs-3"> {{answer.letter}}.</p>
                              @if(answer.content && answer.content !== undefined && answer.content !== null && answer.content !== "undefined"){<p>{{answer.content}}</p>}
                            } @else{
                                <p class="list-group"> <span class="text-danger fs-3">{{answer.letter}}.</span></p>
                                @if(answer.content && answer.content !== undefined && answer.content !== null && answer.content !== "undefined"){<p>{{answer.content}}</p>}
                              }
                              @if(answer.photo_id !== null){<img [src]="answer.base64_data"  style="max-width: 20rem; max-height: 15rem;">}
                            </div>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
          }
          </div>
        </div>
      }
    </div>
}

<!-- Delete modal -->

  <div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Quiere borrar la pregunta?</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
          } @else {
            <div class="spinner-border text-secondary mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          }
        </div>
        <div class="modal-body">
          <p>¿Seguro que quiere eliminar @if(delete.type === "statement"){
            <span>el enunciado?</span>} @else if(delete.type === "question"){
              <span>la pregunta?</span>} @else if(delete.type === "answer"){<span>la respuesta?</span>}</p>
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="deleteQuestion()">Borrar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary mx-auto mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- Edit modal -->

  <div class="modal modal-lg" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          @if(edit.type === "statement") {
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar enunciado</h1>
          } @else if(edit.type === "question") {
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar pregunta</h1>
          } @else if(edit.type === "answers") {
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar respuestas</h1>
          }
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeEditModal()"></button>
          } @else {
            <div class="spinner-border text-secondary mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          }
        </div>
        <div class="modal-body">
          <form [formGroup] = "questionForm">
            @if(edit.type === "statement") {
              <p>Editar nivel</p>
              <select class="form-select" formControlName="level" aria-label="Select-level" (change)="chargeSkills()">
                @for(level of levels; track level.id){
                  <option [value]="level.id">{{level.name}}</option>
                }
              </select>
              <p class="mt-2">Editar destreza</p>
              <select class="form-select" formControlName="skill" aria-label="Select-skill">
                @for(skill of skills; track skill.id){
                  <option [value]="skill.id">{{skill.name}}</option>
                }
              </select>
              <p class="mt-2">Puntuacion</p>
              <select class="form-select" formControlName="puntuation" id="puntuation">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=15>15</option>
                <option value=20>20</option>
                <option value=25>25</option>
                <option value=30>30</option>
              </select>
              <p class="mt-2">Editar enunciado</p>
              <textarea class="form-control" formControlName="statement" id="statement"></textarea>
              <p class="mt-2">Editar texto del enunciado</p>
              <textarea class="form-control" formControlName="text" id="text"></textarea>
              <label for="formFile" class="form-label">Foto del enunciado</label>
              <input class="form-control" type="file" id="statementPhoto" (change)="photoConvert($event, 'statement')">

            } @else if(edit.type === "question") {
              <div class="text-center">
                <p class="d-inline-flex gap-1">
                  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Cambiar de enunciado
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <p>Seleccionar nivel</p>
                    <select class="form-select" formControlName="level" aria-label="Select-level">
                      @for(level of levels; track level.id){
                        <option [value]="level.id">{{level.name}}</option>
                      }
                    </select>
                    @if(questionForm.value.level){
                      <p class="mt-2">Seleccionar destreza</p>
                      <select class="form-select" formControlName="skill" aria-label="Select-skill" (change)="chargeStatementsList()">
                        @for(skill of skills; track skill.id){
                          <option [value]="skill.id">{{skill.name}}</option>
                        }
                      </select>
                    }
                    @if(questionForm.value.level && questionForm.value.skill){
                      <p>Elige un enunciado</p>
                      <select class="form-select mb-3" formControlName="statement" aria-label="A1" required>
                        @for(statement of statementChange; track statement.id){
                          <option [value]="statement.id">{{statement.content}}</option>
                        }
                      </select>
                    }
                  </div>
                </div>
              </div>
                <p class="mt-1">Editar bloque</p>
                <select class="form-select" formControlName="block" aria-label="Select-block">
                  @for(block of blocks; track block.id){
                    <option [value]="block.id">{{block.name}}</option>
                  }
                </select>
              <p class="mt-2">Puntuacion</p>
              <select class="form-select" formControlName="puntuation" id="puntuation">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=15>15</option>
                <option value=20>20</option>
                <option value=25>25</option>
                <option value=30>30</option>
              </select>
              <p class="mt-2">Editar pregunta</p>
              <textarea class="form-control" formControlName="question" id="question"></textarea>
              <label for="formFile" class="form-label">Foto de la pregunta</label>
              <input class="form-control" type="file" id="questionPhoto" (change)="photoConvert($event, 'question')">

            } @else if(edit.type === "answers") {
              @for(answer of edit.oldAnswers; track answer.id){
                <p>{{answer.letter}}</p>
                @if(answer.content !== undefined && answer.content !== 'undefined' && answer.content !== null){
                  <div class="input-group mb-1">
                    <span class="input-group-text" id="Response">Respuesta {{answer.letter}}</span>
                    <input type="text" class="form-control" [formControlName]="'response'+answer.letter" placeholder="Respuesta" aria-label="ResponseA" aria-describedby="ResponseA">
                  </div>
                } @else if (answer.base64_data) {
                  <label for="formFile" class="form-label">Foto de la respuesta</label>
                  <input class="form-control" type="file" id="questionPhoto" (change)="photoConvert($event, answer.letter)">
                }
              }
              <p>Respuesta correcta</p>
              <select class="form-select" formControlName="correctResponse" id="response">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
              </select>
            }
          </form>
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="editQuestions()">Editar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary mx-auto mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </div>
    </div>
  </div>

<app-footer></app-footer>