<app-header></app-header>

<div class="text-center card-group mb-5 mt-3">
    @for(exam of exams; track exam.id){
      <div class="mx-auto">
        <div class="card m-2" style="width: 22rem;">
          <div class="card-header">
            {{exam.name}}
          </div>
          @for(question of exam.question; track question.id){
            <ul class="list-group list-group p-3">
              {{question.statement}}
            @for(response of question.responses; track response.id){
              <ul class="list-group list-group">
                <li class="list-group">{{response.letter}}. {{response.response}}</li>
              </ul>
            }
          </ul>
          <div class="card-header">
            <button type="button" class="btn btn-primary mx-2" (click)="openEditModal(exam, question)">Editar</button>
            <button type="button" class="btn btn-primary mx-2" (click)="openDeleteModal(exam, question)">Eliminar</button>
          </div>
        }
        </div>
      </div>
    }
  </div>

<!-- Delete modal -->

  <div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Quiere borrar la pregunta?</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
          } @else {
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body">
          {{modalStatement}}
          <ul>
            <li>{{modalResponseA}}</li>
            <li>{{modalResponseB}}</li>
            <li>{{modalResponseC}}</li>
            <li>{{modalResponseD}}</li>
            <li>{{modalResponseE}}</li>
          </ul>
          
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="deleteQuestion()">Borrar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

  <!-- Edit modal -->

  <div class="modal" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar pregunta</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeEditModal()"></button>
          } @else {
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body">
          
            <form [formGroup] = "questionForm">
        
                <p>Elige un nivel</p>
                <select class="form-select" placeholder="A1" formControlName="level" aria-label="Select-level">
                    <option value="A1" selected>A1</option>
                    <option value="A2">A2</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                </select>
                <p class="mt-1">Elige un bloque</p>
                <select class="form-select" formControlName="block" aria-label="Select-block">
                    <option value="Estar o hay" selected>Estar o hay</option>
                    <option value="Tener y haber">Tener y haber</option>
                    <option value="Gustar y similares">Gustar y similares</option>
                    <option value="Presente irregular">Presente irregular</option>
                    <option value="Descripción física">Descripción física</option>
                    <option value="Género y número">Género y número</option>
                    <option value="Cantidad">Cantidad</option>
                    <option value="Reflexivos">Reflexivos</option>
                    <option value="Ropa">Ropa</option>
                    <option value="Tiempo atmosférico">Tiempo atmosférico</option>
                    <option value="Pretérito perfecto">Pretérito perfecto</option>
                    <option value="Pronombres OD y OI gustar">Pronombres OD y OI gustar</option>
                    <option value="Preposiciones">Preposiciones</option>
                    <option value="Vocabulario">Vocabulario</option>
                    <option value="Variadas de gramática">Variadas de gramática</option>
                </select>
        
                <div class="input-group my-3">
                    <span class="input-group-text">Pregunta</span>
                    <textarea class="form-control" formControlName="question" id="question" aria-label="With textarea"></textarea>
                </div>
        
                <div class="input-group mb-1">
                    <span class="input-group-text" id="ResponseA">Respuesta A</span>
                    <input type="text" class="form-control" formControlName="responseA" placeholder="Respuesta" aria-label="ResponseA" aria-describedby="ResponseA">
                </div>
                
                <div class="input-group mb-1">
                    <span class="input-group-text" id="ResponseB">Respuesta B</span>
                    <input type="text" class="form-control" formControlName="responseB" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                </div>
        
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="ResponseC">Respuesta C</span>
                        <input type="text" class="form-control" formControlName="responseC" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                    </div>
        
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="ResponseD">Respuesta D</span>
                        <input type="text" class="form-control" formControlName="responseD" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                    </div>
        
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="ResponseE">Respuesta E</span>
                        <input type="text" class="form-control" formControlName="responseE" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                    </div>
            </form>
        
            <!-- <button type="submit" class="btn btn-primary my-5" (click)="addQuestion()">Añadir pregunta</button> -->
        
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="editQuestion()">Editar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

<app-footer></app-footer>