<app-header></app-header>

<div class="text-center card-group mb-5 mt-3">
    @for(exam of exams; track exam.id){
      <div class="mx-auto">
        <div class="card m-2" style="width: 22rem;">
          <div class="card-header">
            {{exam.name}}
          </div>
          @for(question of exam.question; track question.id){
            <ul class="list-group list-group p-3">
              {{question.statement}}
            @for(response of question.responses; track response.id){
              <ul class="list-group list-group">
                <li class="list-group">{{response.letter}}. {{response.response}}</li>
              </ul>
            }
          </ul>
          <div class="card-header">
            <button type="button" class="btn btn-primary mx-2">Editar</button>
            <button type="button" class="btn btn-primary mx-2" (click)="openDeleteModal(exam, question)">Eliminar</button>
          </div>
        }
        </div>
      </div>
    }
  </div>

<!-- Delete modal -->

  <div class="modal" id="staticBackdrop">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Quiere borrar la pregunta?</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
          } @else {
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body">
          {{modalStatement}}
          <ul>
            <li>{{modalResponseA}}</li>
            <li>{{modalResponseB}}</li>
            <li>{{modalResponseC}}</li>
            <li>{{modalResponseD}}</li>
            <li>{{modalResponseE}}</li>
          </ul>
          
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="deleteQuestion()">Borrar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

<app-footer></app-footer>