<app-header></app-header>

<div class="text-center card-group mb-5 mt-3">
    @for(exam of exams; track exam){
      <div class="mx-auto">
        <div class="card m-2" style="width: 22rem;">
          <div class="card-header">
            {{exam.name}}
          </div>
          @for(question of exam.question; track question.id){
            <ul class="list-group list-group p-3">
              {{question.statement}}
            @for(response of question.responses; track response){
              <ul class="list-group list-group">
                <li class="list-group">{{response.letter}}. {{response.response}}</li>
              </ul>
            }
          </ul>
          <div class="card-header">
            <button type="button" class="btn btn-primary mx-2">Añadir</button>
            <button type="button" class="btn btn-primary mx-2">Editar</button>
            <button type="button" class="btn btn-primary mx-2">Eliminar</button>
          </div>
        }
        </div>
      </div>
    }
  </div>

<app-footer></app-footer>