<app-header></app-header>

<div class="container text-center">
    <form [formGroup] = "orderForm" id="order">
        <div class="row my-5">
            <h3 class="col-2">Profesores</h3>
            <div class="col-7"></div>
            <div class="col-1 mt-2">Ordenar:</div>
            <div class="col-2">
                <select id="order" class="form-select mt-2 sm" formControlName="select" (click)="order()">
                    <option value="lastName_asc">Apellido ascendente</option>
                    <option value="lastName_desc">Apellido descendente</option>
                    <option value="department_asc">Departamento ascendente</option>
                    <option value="department_desc">Departamento descendente</option>
                </select> 
            </div>
        </div>
    </form>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-1 mt-2">
                    <h5>Nombre</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Apellidos</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Departamento</h5>
                </div>
                <div class="col-2 mt-2">
                    <h5>Número de télefono</h5>
                </div>
                <div class="col-4 mt-2">
                    <h5>Email</h5>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="accordion container mb-5" id="accordionExample">
    @for(teacher of teachers; track teacher.teacher_id){
        <div class="accordion-item">
            
                <ul class="list-group text-center accordion-header">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1">
                                {{teacher.name}}
                            </div>
                            <div class="col-2">
                                {{teacher.last_name}}
                            </div>
                            <div class="col-2">
                                <h5>{{teacher.department}}</h5>
                            </div>
                            <div class="col-2">
                                {{teacher.phone_number}}
                            </div>
                            <div class="col-4">
                                {{teacher.email}}
                            </div>
                            <div class="col-1 text-end">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + teacher.teacher_id" aria-expanded="true" [attr.aria-controls]="teacher.teacher_id">
                                </button>
                            </div>
                        </div>       
                    </li>
                </ul>

                <div [id]="teacher.teacher_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4">
                                        <h5>Profesor de la clase</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5>Nivel de la clase</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5>Nombre de la clase</h5>
                                    </div>
                                    @for(class of teacher.classes; track class.class_id){
                                        <div class="col-4 my-1">
                                            {{class.class_teacher}}
                                        </div>
                                        <div class="col-4 my-1">
                                            {{class.class_level}}
                                        </div>
                                        <div class="col-4 my-1">
                                            {{class.class_name}}
                                        </div>
                                    }
                                </div>
                            </li>
                        </ul>
                                    
                    </div>
                </div>
            
        </div>
    }  
</div>

<app-footer></app-footer>