<app-header></app-header>
<div class="m-5">

    <form [formGroup] = "statementForm" id="statementForm">
        @if(!statement){
            <h3 class="mb-4 text-center"><strong>Añadir enunciado</strong></h3>
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col">
                        <p>Elige un nivel</p>
                        <select id="levelStatement" class="form-select mb-3" placeholder="A1" formControlName="level" aria-label="A1" (change)="chargeSkillsStatement('statement')">
                            @for(level of levels; track level.id){
                                <option [value]="level.id">{{level.name}}</option>
                            }
                        </select>
                    </div>
                    @if( statementForm.value.level ){
                    <div class="col">
                            <p>Elige una destreza</p>
                            <select id="skillStatement" class="form-select" placeholder="Elige una destreza" formControlName="skill" aria-label="Elige una destreza" (change)="loadBlocksbySkillId()">
                                @for(skill of skillsStatement; track skill.id){
                                    <option [value]="skill.id">{{skill.name}}</option>
                                }
                            </select>
                        </div>
                    }
                    @if( statementForm.value.skill ){
                        <div class="col">
                            <p>Elige un bloque</p>
                            <select id="skillStatement" class="form-select" placeholder="Elige una destreza" formControlName="block" aria-label="Elige una destreza">
                                @for(block of blocksbySkillId; track block.id){
                                    <option [value]="block.id">{{block.name}}</option>
                                }
                            </select>
                        </div>
                    }
                </div>
            </div>
            <div class="row my-3">
                @if( statementForm.value.block ){
                    <div class="col text-center">
                        <p>Enunciado</p>
                        <textarea class="form-control" formControlName="statement" placeholder="Enunciado" id="statement" aria-label="With textarea"></textarea>
                    </div>
                }
                <div class="col col-sm-2 text-center">
                @if( statementForm.value.block ){
                    <p>Puntuacion</p>
                    <select class="form-select" formControlName="puntuation" id="puntuation">
                        <option value=5>5</option>
                        <option value=10>10</option>
                        <option value=15>15</option>
                        <option value=20>20</option>
                        <option value=25>25</option>
                        <option value=30>30</option>
                    </select>
                }
                </div>
            </div>
                @if( statementForm.value.block ) {
                    <p class="mt-2 text-center">Texto</p>
                    <textarea class="form-control mb-4" formControlName="text" id="text" placeholder="Texto" aria-label="With textarea" required></textarea>
                }
            <div class="mb-3">
                @if ( statementForm.value.block ) {
                    <label for="formFile" class="form-label">Foto del enunciado</label>
                    <input class="form-control" type="file" id="statementPhoto" formControlName="statementPhoto" (change)="statementPhotoConvert($event)">
                }
            </div>
        } @else {
            <h3 class="mb-5 text-center"><strong>Enunciado seleccionado</strong></h3>
            <div class="text-center">
                <div class="row">
                    <h5 class="col-3">Nivel</h5>
                    <h5 class="col-3">Destreza</h5>
                    <h5 class="col-3">Bloque</h5>
                    <h5 class="col-3">Puntuación</h5>
                </div>
                <div class="row">
                    <p class="col-3">{{selectedStatement.level_name}}</p>
                    <p class="col-3">{{selectedStatement.skill_name}}</p>
                    <p class="col-3">{{selectedStatement.block_name}}</p>
                    <p class="col-3">{{selectedStatement.score}}</p>
                </div>
            </div>
                <div class="text-center card-group mb-5 mt-3 container">
                    <div class="mx-auto">
                        <div class="card m-2" style="width: 80rem;">
                            <div class="card-header">
                                <div class="row mt-3">
                                    <h5 class="col">Enunciado</h5>
                                    <p class="col">Puntuación: {{selectedStatement.score}}</p>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <p>Enunciado: {{selectedStatement.content}}</p>
                                <p>Texto: {{selectedStatement.text}}</p>
                                @if(selectedStatement.photo !== null){
                                    <p>Imagen del enunciado:</p>
                                    <img [src]="selectedStatement.photo" style="max-width: 40rem; max-height: 35rem;">
                                }
                            </div>
                            @for(question of selectedStatement.questions[0]; track question.id){
                                <div class="card m-2">
                                    <div class="card-header">
                                        <div class="row mt-3">
                                            <h5 class="col">Pregunta</h5>
                                            <p class="col">Puntuación: {{question.score}}</p>
                                        </div>
                                    </div>
                                    <div class="card-body text-center list-group list-group p-3">
                                        <div class="text-center my-3">
                                            <p>Pregunta: {{question.content}}</p>
                                            @if(question.photo !== null){
                                                <p>Imagen de la pregunta:</p>
                                                <img [src]="question.photo" style="max-width: 30rem; max-height: 25rem;">
                                            }
                                        </div>
                                        <div class="card m-2">
                                            @if(question.answers !== [] && question.answers !== null && question.answers !== undefined) {
                                                <div class="card-header">
                                                <h5 class=" mt-1">Respuestas</h5>
                                                </div>
                                                <div class="card-body text-center row">
                                                    @for(answer of question.answers[0]; track answer.id){
                                                        <div class="col-3">
                                                            @if(answer.is_correct === 1){
                                                                <p class="list-group"> <span class="text-success fs-3">{{answer.letter}}.</span> </p>
                                                                @if(answer.content && answer.content !== undefined && answer.content !== null && answer.content !== "undefined"){<p>{{answer.content}}</p>}
                                                            } @else if(answer.is_correct === 0){
                                                                <p class="list-group"> <span class="text-danger fs-3">{{answer.letter}}.</span></p>
                                                                @if(answer.content && answer.content !== undefined && answer.content !== null && answer.content !== "undefined"){<p>{{answer.content}}</p>}
                                                            }
                                                            @if(answer.photo !== null){<img [src]="answer.photo" style="max-width: 20rem; max-height: 15rem;">}
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            <button class="btn btn-info mt-4" (click)="writeStatement()">Quitar enunciado seleccionado</button>
        }
        @if(!statement){
            <div class="row text-center my-5">
                @if( statementForm.value.statement ){
                <div class="col">
                        <button type="submit" class="btn btn-primary ms-5" (click)="sendStatement()">Añadir enunciado</button>
                    </div>
                }
                <div class="col text-center">
                    <button class="btn btn-info" (click)="openStatementModal()">Seleccionar un enunciado existente</button>
                </div>
            </div>
        }
    </form>
    <form [formGroup] = "questionForm" id="questionForm">
        <h3 class="text-center my-5"><strong>Añadir pregunta</strong></h3>
        <div class="row text-center">
            @if( !selectedStatement || selectedStatement === "" || selectedStatement.length === 0 ){
                <div class="col">
                    <p>Elige un nivel</p>
                    <select class="form-select mb-3" placeholder="A1" formControlName="level" aria-label="A1" (change)="chargeSkillsQuestions()">
                        @for(level of levels; track level.id){
                            <option [value]="level.id">{{level.name}}</option>
                        }
                    </select>
                </div>
                @if( questionForm.value.level ){
                    <div class="col text-center">
                        <p>Elige una destreza</p>
                        <select class="form-select" placeholder="Elige una destreza" formControlName="skill" aria-label="Elige una destreza" (change)="chargeBlocksQuestions('')">
                            @for(skill of skillsQuestion; track skill.id){
                                <option [value]="skill.id">{{skill.name}}</option>
                            }
                        </select>
                    </div>
                }
            }
            @if( selectedStatement || questionForm.value.skill ){
                @if(questionForm.value.skill || !selectedStatement.block_id){
                    <div class="col">
                        <p>Elige un bloque</p>
                        <select class="form-select" formControlName="block" aria-label="Select-block">
                            @for(block of blocks; track block.id){
                                <option [value]="block.id">{{block.name}}</option>
                            }
                        </select>
                    </div>
                }
                @if( questionForm.value.block || selectedStatement ){
                    <div class="col">
                        <p>Tipo de respuesta</p>
                        <select class="form-select" formControlName="responsesMode" id="response">
                            <option value="phrase">Frases para rellenar</option>
                            <option value="photo">Fotografías tipo test de una sola respuesta</option>
                            <option value="multiple">Fotografías con múltiples soluciones</option>
                            <option value="test">Tipo test de una solución</option>
                        </select>
                    </div>
                }
            }
        </div>
        @if( questionForm.value.responsesMode){
            <div class="row">
                <div class="col-9">
                    <p class="text-center">Pregunta</p>
                    <textarea class="form-control" formControlName="question" id="question" placeholder="Pregunta" aria-label="With textarea"></textarea>
                </div>
                <div class="col-3 my-4">
                    <label for="formFile" class="form-label text-center">Puntuacion</label>
                    <select class="form-select" formControlName="puntuation" id="puntuation">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=5>5</option>
                    </select>
                </div>
            </div>
            @if( questionForm.value.responsesMode ){
                <div class="row text-center my-5">
                    <div class="col-6">
                        <button type="button" class="btn btn-info" (click)="addResponse()" [disabled]="numberResponses >= 9">Añadir respuesta</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-info" (click)="removeResponse()" [disabled]="numberResponses <= 3">Quitar respuesta</button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="input-group mb-3 col-2">
                        <span class="input-group-text" id="ResponseA">Respuesta A</span>
                        @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                            <input class="form-control" type="file" id="questionPhoto" formControlName="photoA" (change)="questionPhotoConvert($event, 'A')">
                        }
                        @if( questionForm.value.responsesMode === "phrase" ) {
                            <input type="text" class="form-control" formControlName="responseA" placeholder="Respuesta" aria-label="ResponseA" aria-describedby="ResponseA">
                            <input type="text" class="form-control" placeholder="Solución" formControlName="linkA" id="linkA">
                        }
                        @if(questionForm.value.responsesMode === "test" ) {
                            <input type="text" class="form-control" formControlName="responseA" placeholder="Respuesta" aria-label="ResponseA" aria-describedby="ResponseA">
                        }
                        @if( questionForm.value.responsesMode === "multiple" ){
                            <select class="form-select" formControlName="linkA" id="linkA">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=false>Falsa</option>
                            </select>
                        }
                    </div>
                    <div class="input-group mb-3 col-2">
                        <span class="input-group-text" id="ResponseB">Respuesta B</span>
                        @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                            <input class="form-control" type="file" id="questionPhoto" formControlName="photoB" (change)="questionPhotoConvert($event, 'B')">
                        }
                        @if( questionForm.value.responsesMode === "phrase") {
                            <input type="text" class="form-control" formControlName="responseB" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                            <input type="text" class="form-control" placeholder="Solución" formControlName="linkB" id="linkB">
                        }
                        @if(questionForm.value.responsesMode === "test" ) {
                            <input type="text" class="form-control" formControlName="responseB" placeholder="Respuesta" aria-label="ResponseB" aria-describedby="ResponseB">
                        }
                        @if( questionForm.value.responsesMode === "multiple" ){
                            <select class="form-select" formControlName="linkB" id="linkB">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=false>Falsa</option>
                            </select>
                        }
                    </div>
                    <div class="input-group mb-3 col-2">
                        <span class="input-group-text" id="ResponseC">Respuesta C</span>
                        @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                            <input class="form-control" type="file" id="questionPhoto" formControlName="photoC" (change)="questionPhotoConvert($event, 'C')">
                        }
                        @if( questionForm.value.responsesMode === "phrase" ) {
                            <input type="text" class="form-control" formControlName="responseC" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                            <input type="text" class="form-control" placeholder="Solución" formControlName="linkC" id="linkC">
                        }
                        @if(questionForm.value.responsesMode === "test" ) {
                            <input type="text" class="form-control" formControlName="responseC" placeholder="Respuesta" aria-label="ResponseC" aria-describedby="ResponseC">
                        }
                        @if( questionForm.value.responsesMode === "multiple" ){
                            <select class="form-select" formControlName="linkC" id="linkC">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=false>Falsa</option>
                            </select>
                        }
                    </div>
                    @if(numberResponses >= 4){
                        <div class="input-group mb-3 col-3">
                            <span class="input-group-text" id="ResponseD">Respuesta D</span>
                            @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoD" (change)="questionPhotoConvert($event, 'D')">
                            }
                            @if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseD" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                <input type="text" class="form-control" placeholder="Solución" formControlName="linkD" id="linkD">
                            }
                            @if(questionForm.value.responsesMode === "test" ) {
                                <input type="text" class="form-control" formControlName="responseD" placeholder="Respuesta" aria-label="ResponseD" aria-describedby="ResponseD">
                            }
                            @if( questionForm.value.responsesMode === "multiple" ){
                                <select class="form-select" formControlName="linkD" id="linkD">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=false>Falsa</option>
                                </select>
                            }
                        </div>
                    }
                    @if(numberResponses >= 5){
                        <div class="input-group mb-3 col-3">
                            <span class="input-group-text" id="ResponseE">Respuesta E</span>
                            @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoE" (change)="questionPhotoConvert($event, 'E')">
                            }
                            @if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseE" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                <input type="text" class="form-control" placeholder="Solución" formControlName="linkE" id="linkE">
                            }
                            @if(questionForm.value.responsesMode === "test" ) {
                                <input type="text" class="form-control" formControlName="responseE" placeholder="Respuesta" aria-label="ResponseE" aria-describedby="ResponseE">
                            }
                            @if( questionForm.value.responsesMode === "multiple" ){
                                <select class="form-select" formControlName="linkE" id="linkE">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=false>Falsa</option>
                                </select>
                            }
                        </div>
                    }
                    @if(numberResponses >= 6){
                        <div class="input-group mb-3 col-3">
                            <span class="input-group-text" id="ResponseF">Respuesta F</span>
                            @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoF" (change)="questionPhotoConvert($event, 'F')">
                            }
                            @if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseF" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                <input type="text" class="form-control" placeholder="Solución" formControlName="linkF" id="linkF">
                            }
                            @if(questionForm.value.responsesMode === "test" ) {
                                <input type="text" class="form-control" formControlName="responseE" placeholder="Respuesta" aria-label="ResponseE" aria-describedby="ResponseE">
                            }
                            @if( questionForm.value.responsesMode === "multiple" ){
                                <select class="form-select" formControlName="linkF" id="linkF">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=false>Falsa</option>
                                </select>
                            }
                        </div>
                    }
                    @if(numberResponses >= 7){
                        <div class="input-group mb-3 col-3">
                            <span class="input-group-text" id="ResponseG">Respuesta G</span>
                            @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoG" (change)="questionPhotoConvert($event, 'G')">
                            }
                            @if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseG" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                <input type="text" class="form-control" placeholder="Solución" formControlName="linkG" id="linkG">
                            }
                            @if(questionForm.value.responsesMode === "test" ) {
                                <input type="text" class="form-control" formControlName="responseG" placeholder="Respuesta" aria-label="ResponseG" aria-describedby="ResponseG">
                            }
                            @if( questionForm.value.responsesMode === "multiple" ){
                                <select class="form-select" formControlName="linkG" id="linkG">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=false>Falsa</option>
                                </select>
                            }
                        </div>
                    }
                    @if(numberResponses >= 8){
                        <div class="input-group mb-3 col-3">
                            <span class="input-group-text" id="ResponseH">Respuesta H</span>
                            @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoH" (change)="questionPhotoConvert($event, 'H')">
                            }
                            @if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseH" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                <input type="text" class="form-control" placeholder="Solución" formControlName="linkH" id="linkH">
                            }
                            @if(questionForm.value.responsesMode === "test" ) {
                                <input type="text" class="form-control" formControlName="responseH" placeholder="Respuesta" aria-label="ResponseH" aria-describedby="ResponseH">
                            }
                            @if( questionForm.value.responsesMode === "multiple" ){
                                <select class="form-select" formControlName="linkH" id="linkH">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=false>Falsa</option>
                                </select>
                            }
                        </div>
                    }
                    @if(numberResponses >= 9){
                        <div class="input-group mb-3 col-3">
                            <span class="input-group-text" id="ResponseI">Respuesta I</span>
                            @if( questionForm.value.responsesMode === "photo" || questionForm.value.responsesMode === "multiple" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoI" (change)="questionPhotoConvert($event, 'I')">
                            }
                            @if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseI" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                <input type="text" class="form-control" placeholder="Solución" formControlName="linkI" id="linkI">
                            }
                            @if(questionForm.value.responsesMode === "test" ) {
                                <input type="text" class="form-control" formControlName="responseI" placeholder="Respuesta" aria-label="ResponseI" aria-describedby="ResponseI">
                            }
                            @if( questionForm.value.responsesMode === "multiple" ){
                                <select class="form-select" formControlName="linkI" id="linkI">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=false>Falsa</option>
                                </select>
                            }
                        </div>
                    }
                </div>
                @if(questionForm.value.responsesMode !== "multiple" && questionForm.value.responsesMode !== "phrase"){
                    <div class="row">
                        <div class="col col-lg-2 text-center">
                            <p>Respuesta correcta</p>
                            <select class="form-select" formControlName="correctResponse" id="response">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                    </div>
                }
            }
        }
    </form>

    @if( questionForm.value.question || selectedStatement ){
        <div class="row text-center my-4">
            <div class="col">
                <button type="submit" class="btn btn-primary me-5" (click)="sendQuestion()">Añadir pregunta</button>
            </div>
        </div>
    }

    <!-- Select statement modal -->
<div class="modal" id="statementModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Selecciona enunciado exixtente</h1>
                @if(!charge){
                    <button type="button" class="btn-close" (click)="closeStatementModal()"></button>
                } @else {
                    <div class="spinner-border text-secondary mx-auto" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
            </div>
            <div class="modal-body">
                <form [formGroup] = "modalForm">
                    <p>Elige un nivel</p>
                    <select class="form-select mb-3" placeholder="A1" formControlName="level" aria-label="A1" (change)="chargeSkillsStatement('modal')" (change)="chargeStatements()">
                        @for(level of levels; track level.id){
                            <option [value]="level.id">{{level.name}}</option>
                        }
                    </select>
                    <p>Elige una destreza</p>
                    <select class="form-select" placeholder="Elige una destreza" formControlName="skill" aria-label="Elige una destreza" (change)="chargeStatements()">
                        @for(skill of skillsStatement; track skill.id){
                            <option [value]="skill.id">{{skill.name}}</option>
                        }
                    </select>
                    @if( modalForm.value.skill && modalForm.value.level ){
                        <p>Elige un enunciado</p>
                        <select class="form-select mb-3" formControlName="statement" aria-label="A1" required>
                            @for(statement of statementSelected; track statement.id){
                                <option [value]="statement.id">{{statement.content}}</option>
                            }
                        </select>
                    }
                </form>
            </div>
            @if (!charge){
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeStatementModal()">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="selectStatement('')" [disabled]="modalForm.value.statement === ''">Seleccionar</button>
                </div>
            } @else {
                <div class="spinner-border text-primary mx-auto mb-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
        </div>
    </div>
</div>

</div>
<app-footer></app-footer>