<app-header></app-header>
<div class="m-5">

    <form [formGroup] = "statementForm" id="statementForm">
        @if(!statement){
            <h3 class="mb-4 text-center"><strong>Añadir enunciado</strong></h3>
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col">
                        <p>Elige un nivel</p>
                        <select id="levelStatement" class="form-select mb-3" placeholder="A1" formControlName="level" aria-label="A1" (change)="chargeSkillsStatement('statement')">
                            @for(level of levels; track level.id){
                                <option [value]="level.id">{{level.name}}</option>
                            }
                        </select>
                    </div>
                    @if( statementForm.value.level ){
                    <div class="col">
                            <p>Elige una destreza</p>
                            <select id="skillStatement" class="form-select" placeholder="Elige una destreza" formControlName="skill" aria-label="Elige una destreza">
                                @for(skill of skillsStatement; track skill.id){
                                    <option [value]="skill.id">{{skill.name}}</option>
                                }
                            </select>
                        </div>
                    }
                </div>
            </div>

            <div class="row my-3">
                @if( statementForm.value.skill ){
                    <div class="col text-center">
                        <p>Enunciado</p>
                        <textarea class="form-control" formControlName="statement" placeholder="Enunciado" id="statement" aria-label="With textarea"></textarea>
                    </div>
                }
                <div class="col col-sm-2 text-center">
                    @if( statementForm.value.skill ){
                        <p>Puntuacion</p>
                        <select class="form-select" formControlName="puntuation" id="puntuation">
                            <option value=5>5</option>
                            <option value=10>10</option>
                            <option value=15>15</option>
                            <option value=20>20</option>
                            <option value=25>25</option>
                            <option value=30>30</option>
                        </select>
                    }
                </div>
            </div>
                @if( statementForm.value.skill ) {
                    <p class="mt-2 text-center">Texto</p>
                    <textarea class="form-control mb-4" formControlName="text" id="text" placeholder="Texto" aria-label="With textarea" required></textarea>
                }
            <div class="mb-3">
                @if ( statementForm.value.skill ) { 
                    <label for="formFile" class="form-label">Foto del enunciado</label>
                    <input class="form-control" type="file" id="statementPhoto" formControlName="statementPhoto" (change)="statementPhotoConvert($event)">
                }
            </div>
        
        } @else {
            <h3 class="mb-5 text-center"><strong>Enunciado seleccionado</strong></h3>
            <div class="row">
                <h5 class="col-4">Nivel</h5>
                <h5 class="col-4">Destreza</h5>
                <h5 class="col-4">Puntuación</h5>
            </div>
            <div class="row">
                <p class="col-4">{{selectedStatement.level_name}}</p>
                <p class="col-4">{{selectedStatement.skill_name}}</p>
                <p class="col-4">{{selectedStatement.score}}</p>
            </div>
            <div class="row mt-4">
                <h5 class="col-4">Enunciado</h5>
                <h5 class="col-8">Texto</h5>
            </div>
            <div class="row">
                @if( selectedStatement.statement_content !== 'null' ){<p class="col-4">{{selectedStatement.statement_content}}</p>}
                @if( selectedStatement.text !== 'null' ){<p class="col-8">{{selectedStatement.text}}</p>}
            </div>
            @if ( selectedStatement.photo_id ) {
                <h5 class="mt-4">Foto</h5>
                <img class="col-6" [src]="selectedStatement.photo_id" [alt]="selectedStatement.id"  style="width: 35rem;"/>
            }
            <div>
                @if ( selectedStatement.questions !== undefined ) {
                    @for ( question of selectedStatement.questions[0]; track question.id ) {
                        <div class="row text-center">
                            @if ( question.content !== null ) {
                                <h5>Pregunta</h5>
                                <p class="col">{{question.content}}</p>
                            }
                            @if ( question.base64_data !== null ) {
                                <h5>Foto</h5>
                                <img class="col-6" [src]="question.base64_data" [alt]="question.id"  style="width: 30rem;"/>
                            }
                        </div>
                        <h5>Respuestas</h5>
                        <div class="row">
                            @for ( answer of question.answers; track answer.id ) {
                                @if ( answer.base64_data ) {
                                    <div class="col-3">
                                        <p>{{answer.letter}}</p>
                                        <h5>Imagen</h5>
                                        <img [src]="answer.base64_data" [alt]="answer.id" style="width: 15rem; height: 15rem;"/>
                                    </div>
                                } @else {
                                    <div class="col-3">
                                        <p>{{answer.letter}}</p>
                                        <h5>Respuesta</h5>
                                        <p>{{answer.content}}</p>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
                <button class="btn btn-info mt-4" (click)="writeStatement()">Quitar enunciado seleccionado</button>
            </div>
        }
        @if(!statement){
            <div class="row text-center my-5">
                @if( statementForm.value.statement ){
                <div class="col">
                        <button type="submit" class="btn btn-primary ms-5" (click)="sendStatement()">Añadir enunciado</button>
                    </div>
                }
                <div class="col text-center">
                    <button class="btn btn-info" (click)="openStatementModal()">Seleccionar un enunciado existente</button>
                </div>
            </div>
        }
    </form>
    <form [formGroup] = "questionForm" id="questionForm">
       <h3 class="text-center my-5"><strong>Añadir pregunta</strong></h3>
        <div class="row text-center">
            @if( !selectedStatement || selectedStatement === "" ){
                <div class="col">
                    <p>Elige un nivel</p>
                    <select class="form-select mb-3" placeholder="A1" formControlName="level" aria-label="A1" (change)="chargeSkillsQuestions()">
                        @for(level of levels; track level.id){
                            <option [value]="level.id">{{level.name}}</option>
                        }
                    </select>
                </div>
                @if( questionForm.value.level ){
                    <div class="col text-center">
                        <p>Elige una destreza</p>
                        <select class="form-select" placeholder="Elige una destreza" formControlName="skill" aria-label="Elige una destreza" (change)="chargeBlocksQuestions('')">
                            @for(skill of skillsQuestion; track skill.id){
                                <option [value]="skill.id">{{skill.name}}</option>
                            }
                        </select>
                    </div>
                }
            }
            @if( selectedStatement || questionForm.value.skill ){
                <div class="col">
                    <p>Elige un bloque</p>
                    <select class="form-select" formControlName="block" aria-label="Select-block">
                        @for(block of blocks; track block.id){
                            <option [value]="block.id">{{block.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-7">
                    <p class="text-center">Pregunta</p>
                    <textarea class="form-control" formControlName="question" id="question" placeholder="Pregunta" aria-label="With textarea"></textarea>
                </div>
            }
        </div>
        @if( questionForm.value.skill || selectedStatement ){
            <div class="row">
                <div class="my-4 col-5">
                    <label for="formFile" class="form-label text-center">Tipo de pregunta</label>
                    <select class="form-select" formControlName="responsesMode" id="response">
                        <option value="phrase">Respuestas basadas en frases</option>
                        <option value="photo">Respuestas basadas en fotografías</option>
                    </select>
                </div>
                <div class="col-5 mt-4">
                    <label for="formFile" class="form-label text-center">Foto de la pregunta</label>
                    <input class="form-control" type="file" id="questionPhoto" formControlName="photoQuestion" (change)="questionPhotoConvert($event, 'question')">
                </div>
                <div class="col-2 my-4">
                    <label for="formFile" class="form-label text-center">Puntuacion</label>
                    <select class="form-select" formControlName="puntuation" id="puntuation">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=5>5</option>
                    </select>
                </div>
            </div>
            @if( questionForm.value.responsesMode ){
                <div class="row text-center my-5">
                    <div class="col-6">
                        <button type="button" class="btn btn-info" (click)="addResponse()" [disabled]="numberResponses >= 6">Añadir respuesta</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-info" (click)="removeResponse()" [disabled]="numberResponses <= 3">Quitar respuesta</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="ResponseA">Respuesta A</span>
                            @if( questionForm.value.responsesMode === "photo" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoA" (change)="questionPhotoConvert($event, 'A')">
                            } @else if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseA" placeholder="Respuesta" aria-label="ResponseA" aria-describedby="ResponseA">
                            }
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="ResponseC">Respuesta C</span>
                            @if( questionForm.value.responsesMode === "photo" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoC" (change)="questionPhotoConvert($event, 'C')">
                            } @else if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseC" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                            }
                        </div>
                        @if(numberResponses >= 5){
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="ResponseD">Respuesta E</span>
                                @if( questionForm.value.responsesMode === "photo" ){
                                    <input class="form-control" type="file" id="questionPhoto" formControlName="photoE" (change)="questionPhotoConvert($event, 'E')">
                                } @else if( questionForm.value.responsesMode === "phrase" ) {
                                    <input type="text" class="form-control" formControlName="responseE" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                }
                            </div>
                        }
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="ResponseB">Respuesta B</span>
                            @if( questionForm.value.responsesMode === "photo" ){
                                <input class="form-control" type="file" id="questionPhoto" formControlName="photoB" (change)="questionPhotoConvert($event, 'B')">
                            } @else if( questionForm.value.responsesMode === "phrase" ) {
                                <input type="text" class="form-control" formControlName="responseB" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                            }
                        </div>
                        @if(numberResponses >= 4){
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="ResponseC">Respuesta D</span>
                                @if( questionForm.value.responsesMode === "photo" ){
                                    <input class="form-control" type="file" id="questionPhoto" formControlName="photoD" (change)="questionPhotoConvert($event, 'D')">
                                } @else if( questionForm.value.responsesMode === "phrase" ) {
                                    <input type="text" class="form-control" formControlName="responseD" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                }
                            </div>
                        }
                        @if(numberResponses >= 6){
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="ResponseE">Respuesta F</span>
                                @if( questionForm.value.responsesMode === "photo" ){
                                    <input class="form-control" type="file" id="questionPhoto" formControlName="photoF" (change)="questionPhotoConvert($event, 'F')">
                                } @else if( questionForm.value.responsesMode === "phrase" ) {
                                    <input type="text" class="form-control" formControlName="responseF" placeholder="Respuesta" aria-label="Response" aria-describedby="Response">
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-2 text-center">
                        <p>Respuesta correcta</p>
                        <select class="form-select" formControlName="correctResponse" id="response">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
            }
        }
        
    </form>

    @if( questionForm.value.skill || selectedStatement ){
        <div class="row text-center my-4">
            <div class="col">
                <button type="submit" class="btn btn-primary me-5" (click)="sendQuestion()">Añadir pregunta</button>
            </div>
        </div>
    }

    <!-- Select statement modal -->

  <div class="modal" id="statementModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Selecciona enunciado exixtente</h1>
          @if(!charge){
            <button type="button" class="btn-close" (click)="closeStatementModal()"></button>
          } @else {
            <div class="spinner-border text-secondary mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>            
          }
        </div>
        <div class="modal-body">
            <form [formGroup] = "modalForm">
                <p>Elige un nivel</p>
                <select class="form-select mb-3" placeholder="A1" formControlName="level" aria-label="A1" (change)="chargeSkillsStatement('modal')" (change)="chargeStatements()">
                    @for(level of levels; track level.id){
                        <option [value]="level.id">{{level.name}}</option>
                    }
                </select>
                <p>Elige una destreza</p>
                <select class="form-select" placeholder="Elige una destreza" formControlName="skill" aria-label="Elige una destreza" (change)="chargeStatements()">
                    @for(skill of skillsStatement; track skill.id){
                        <option [value]="skill.id">{{skill.name}}</option>
                    }
                </select>
                @if( modalForm.value.skill && modalForm.value.level ){
                    <p>Elige un enunciado</p>
                    <select class="form-select mb-3" formControlName="statement" aria-label="A1" required>
                        @for(statement of statementSelected; track statement.id){
                            <option [value]="statement.id">{{statement.content}}</option>
                        }
                    </select>
                }
        </form>
        </div>
        @if (!charge){
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeStatementModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="selectStatement('')" [disabled]="modalForm.value.statement === ''">Seleccionar</button>
          </div>
        } @else {
          <div class="spinner-border text-primary mx-auto mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>          
        }
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>