<app-header></app-header>

<form [formGroup] = "structureForm" id="structureForm">
    <div class="container my-5"> <!--si no entra se cambia a container-fuid-->
        <!--LEVELS-->
        <div>
            <div class="row">
                <h3 class=" col-6 my-3">Niveles</h3>
                <div class="col-3"><input type="text" formControlName="searchLevel" class="form-control mt-3" placeholder="Busqueda por nombre"></div>
                <div class="col-1">
                    <button class="btn btn-primary mt-3" (click)="search('levels')">Buscar</button>
                </div>
                <div class="col-2">
                    @if ( structureForm.value.searchLevel !== "" ){
                    <button class="btn btn-danger mt-3" (click)="cleanSearch('levels')">Deshacer búsqueda</button>
                    }
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row fw-bold">
                        <div class="col ms-5 mt-2">Nombre</div>
                        <div class="col col-lg-1 mt-2">Estado</div>
                        <div class="col text-end"></div>
                    </div>
                </li>
                @for(level of levels; track level.id){
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col ms-5 mt-2">
                                {{level.name}}
                            </div>
                            <div class="col col-lg-1 mt-2">
                                @if (level.status_name === "active") {
                                    <p class="text-success">Activo</p>
                                } @else {
                                    <p class="text-danger">Inactivo</p>
                                }
                            </div>
                            <div class="col text-end">
                                <button class="btn btn-primary ms-5" (click)="openEditLevelModal(level)">Modificar</button>
                                <button class="btn btn-secondary ms-3" (click)="desactivateLevel(level)">Desactivar</button>
                                <button class="btn btn-danger ms-3" (click)="deleteLevel(level)">Eliminar</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="row my-4">
                <div class="col-3"></div>
                <div class="col-1 text-end mt-1"><p>Nivel:</p></div>
                <div class="col-4"><input type="text" class="form-control" formControlName="level" id="level"></div>
                <div class="col-1 text-start"><button class="btn btn-success" (click)="addLevel()">Añadir</button></div>
                <div class="col-3"></div>
            </div>
        </div>
        <!--SKILLS-->
        <div>
            <div class="row mt-5">
                <h3 class=" col-4 my-3">Destrezas</h3>
                <div class="col-2">
                    <select id="levelSkill" class="form-select mt-3" formControlName="searchLevelSkill">
                        <option value="all_skills">Todas las destrezas</option>
                        @for(level of levels; track level.id){
                            <option [value]="level.id">{{level.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-3"><input type="text" formControlName="searchSkill" class="form-control mt-3" placeholder="Busqueda por nombre"></div>
                <div class="col-1">
                    <button class="btn btn-primary mt-3" (click)="search('skills')">Buscar</button>
                </div>
                <div class="col-2">
                    @if ( structureForm.value.searchSkill !== "" ||  structureForm.value.searchLevelSkill !== "" ){
                    <button class="btn btn-danger mt-3" (click)="cleanSearch('skills')">Deshacer búsqueda</button>
                    }
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row fw-bold">
                        <div class="col-3 ms-5 mt-2">Nombre</div>
                        <div class="col-2 mt-2">Nivel </div>
                        <div class="col-2 col-lg-1 mt-2">Estado</div>
                        <div class="col-4 text-end"></div>
                    </div>
                </li>
                @for(skill of skills; track skill.id){
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3 ms-5 mt-2">
                                {{skill.name}}
                            </div>
                            <div class="col-2 mt-2">
                                {{skill.level_name}}
                            </div>
                            <div class="col-2 col-lg-1 mt-2">
                                @if (skill.status === "active") {
                                    <p class="text-success">Activo</p>
                                } @else {
                                    <p class="text-danger">Inactivo</p>
                                }
                            </div>
                            <div class="col-4 text-end">
                                <button class="btn btn-primary ms-3" (click)="openEditSkillModal(skill)">Modificar</button>
                                <button class="btn btn-secondary ms-1" (click)="desactivateSkill(skill)">Desactivar</button>
                                <button class="btn btn-danger ms-1" (click)="deleteSkill(skill)">Eliminar</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="row my-4">
                <div class="col-2"></div>
                <div class="col-4">
                    <label for="skill" class="form-label">Destreza</label>
                    <input type="text" class="form-control" formControlName="skill" id="skill">
                </div>
                <div class="col-2">
                    <label for="levelSkill" class="form-label">Nivel</label>
                    <select id="levelSkill" class="form-select" formControlName="levelSkill">
                        @for(level of activeLevels; track level.id){
                            <option [value]="level.id">{{level.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-2 text-center mt-4"><button class="btn btn-success" (click)="addSkill()">Añadir</button></div>
                <div class="col-2"></div>
            </div>
        </div>
        <!--BLOCKS-->
        <div>
            <div class="row mt-5">
                <h3 class=" col-4 my-3">Bloques</h3>
                <div class="col-2">
                    <select id="skillBlock" class="form-select mt-3" formControlName="searchSkillBlock">
                        <option value="all_blocks">Todos los bloques</option>
                        @for(skill of skills; track skill.id){
                            <option [value]="skill.id">{{skill.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-3"><input type="text" formControlName="searchBlock" class="form-control mt-3" placeholder="Busqueda por nombre"></div>
                <div class="col-1">
                    <button class="btn btn-primary mt-3" (click)="search('blocks')">Buscar</button>
                </div>
                <div class="col-2">
                    @if ( structureForm.value.searchBlock !== "" || structureForm.value.searchSkillBlock !== "" ){
                    <button class="btn btn-danger mt-3" (click)="cleanSearch('blocks')">Deshacer búsqueda</button>
                    }
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row text-center fw-bold">
                        <div class="col-1 ms-4 mt-3">
                            Nombre
                        </div>
                        <div class="col-1 mt-3">
                            Destreza
                        </div>
                        <div class="col-1 mt-3">
                            Puntuación del bloque
                        </div>
                        <div class="col-1 mt-3 mx-3">
                            Tipo de preguntas
                        </div>
                        <div class="col-1 mt-3">
                            Puntuación individual
                        </div>
                        <div class="col-1 col-lg-1 mt-3 text-center">
                            En exámen
                        </div>
                        <div class="col-2 col-lg-1 mt-3 mx-3">Estado</div>
                        <div class="col-4 mt-3"></div>
                    </div>
                </li>
                @for(block of blocks; track block.id){
                    <li class="list-group-item">
                        <div class="row text-center">
                            <div class="col-1 ms-4 mt-3">
                                {{block.name}}
                            </div>
                            <div class="col-1 mt-3">
                                {{block.skill_name}}
                            </div>
                            <div class="col-1 mt-3">
                                {{block.max_score}}
                            </div>
                            <div class="col-1 mt-3 mx-3">
                                {{block.question_type_name}}
                            </div>
                            <div class="col-1 mt-3">
                                {{block.individual_score}}
                            </div>
                            <div class="col-1 col-lg-1 mt-3 text-center">
                                @if (block.is_selected === 1) {
                                    <p class="text-success">Seleccionado</p>
                                } @else if (block.is_selected === 0 ) {
                                    <p class="text-danger">No seleccionado</p>
                                }
                            </div>
                            <div class="col-2 col-lg-1 mt-3 mx-3">
                                @if (block.status === "active") {
                                    <p class="text-success">Activo</p>
                                } @else {
                                    <p class="text-danger">Inactivo</p>
                                }
                            </div>
                            <div class="col-4 mt-3">
                                <button class="btn btn-primary" (click)="openEditBlockModal(block)">Modificar</button>
                                <button class="btn btn-secondary ms-3" (click)="desactivateBlock(block)">Desactivar</button>
                                <button class="btn btn-danger ms-3" (click)="deleteBlock(block)">Eliminar</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <div class="row my-4">
                <div class="col-1"></div>
                <div class="col-2">
                    <p>Bloque:</p>
                    <input type="text" class="form-control" formControlName="block" id="block">
                </div>
                <div class="col-2">
                    <p>Tipo de pregunta:</p>
                    <select id="blockType" class="form-select" formControlName="blockType">
                        @for(type of questionsTypes; track type.id){
                            <option [value]="type.id">{{type.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-1">
                    <p>Puntuación:</p>
                    <select id="blockScore" class="form-select" formControlName="blockScore">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="10">20</option>
                        <option value="10">25</option>
                    </select>
                </div>
                <div class="col-2">
                    <p>Destreza:</p>
                    <select id="skillBlock" class="form-select" formControlName="skillBlock">
                        @for(skill of skills; track skill.id){
                            <option [value]="skill.id">{{skill.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-1 mt-4 text-center"><button class="btn btn-success mt-3" (click)="addBlock()">Añadir</button></div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</form>
<!--MANAGE BLOCKS-->
<div>
    <form [formGroup] = "blocksToExams" id="blocksToExams">
        <div class="container">
            <h2 class="my-5">Gestión de bloques por niveles</h2>
            <ul class="list-group ">
                @for(level of blocksExams; track level.id){
                    <li class="list-group-item">
                        <div class="row ms-2 my-4">
                            <div class="col-3 h4">
                                {{level.name}}
                            </div>
                            @for(skill of level.skills; track skill.id){
                                <li class="list-group-item">
                                    <div class="row ms-4 my-2">
                                        <div class="col-3 h5">
                                            {{skill.name}}
                                        </div>
                                    </div>
                                    @for(block of skill.blocks; track block.id){
                                        <li class="list-group-item">
                                            <div class="row ms-5">
                                                <div class="col-4 h6 mt-2">
                                                    @if(block.is_selected === 1){
                                                        <p class="text-success">{{block.name}}</p>
                                                    } @else if(block.is_selected === 0) {
                                                        <p class="text-danger">{{block.name}}</p>
                                                    }
                                                </div>
                                                <div class="col-7"></div>
                                                <div class="col-1">
                                                    <div class="text-end form-check form-switch">
                                                        @if(block.is_selected === 1){
                                                            <input [id]="block.id" class="form-check-input" formControlName="select" (change)="selectChange(block.id)" type="checkbox" role="switch" id="examSwitch">
                                                        } @else if(block.is_selected === 0) {
                                                            <input [id]="block.id" class="form-check-input" formControlName="select" (change)="selectChange(block.id)" type="checkbox" role="switch" id="examSwitch">
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </li>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </form>
</div>
<!-- UNIONS SKILLS -->
<div class="container my-5">
    <h2>Unión de destrezas</h2>
    <ul class="list-group my-4 ">
        <li class="list-group-item">
            <div class="row fw-bold text-center">
                <div class="col-1">
                    Nombre de la unión
                </div>
                <div class="col-2">
                    Enunciado
                </div>
                <div class="col-1">
                    Nivel
                </div>
                <div class="col-1">
                    Destreza 1
                </div>
                <div class="col-1">
                    Destreza 2
                </div>
                <div class="col-1">
                    Puntuación
                </div>
                <div class="col-1">
                    Estado
                </div>
                <div class="col-4"></div>
            </div>
        </li>
        @for(unionSkill of unionsSkills; track unionSkill.id){
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col-1">
                        {{unionSkill.name}}
                    </div>
                    <div class="col-2">
                        {{unionSkill.statement}}
                    </div>
                    <div class="col-1">
                        {{unionSkill.level_name}}
                    </div>
                    <div class="col-1">
                        {{unionSkill.skill_name_1}}
                    </div>
                    <div class="col-1">
                        {{unionSkill.skill_name_2}}
                    </div>
                    <div class="col-1">
                        {{unionSkill.max_puntuation}}
                    </div>
                    <div class="col-1">
                        @if (unionSkill.status === "active") {
                            <p class="text-success">Activo</p>
                        } @else {
                            <p class="text-danger">Inactivo</p>
                        }
                    </div>
                    <div class="col-4 text-center rounded-end">
                        <button class="btn btn-primary m-auto me-3" (click)="openSkillsUnionEdit(unionSkill)">Modificar</button>
                        <button class="btn btn-secondary m-auto" (click)="statusUnion(unionSkill.id)">Desactivar</button>
                        <button class="btn btn-danger m-auto ms-3" (click)="deleteUnionModal(unionSkill)">Eliminar</button>
                    </div>
                </div>
            </li>
        }
    </ul>
    <form [formGroup] = "skillsUnions" id="skillsUnions">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <p>Nombre de la unión:</p>
                <input type="text" class="form-control" formControlName="name" id="name">
            </div>
            <div class="col-6">
                <label for="statementUnion" class="form-label">Enunciado para la unión:</label>
                <textarea class="form-control" formControlName="statement" id="statementUnion" rows="2"></textarea>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <p>Nivel de la unión:</p>
                <select id="level" class="form-select" formControlName="level" (change)="loadSkillToUnions()">
                    @for(level of activeLevels; track level.id){
                        <option [value]="level.id">{{level.name}}</option>
                    }
                </select>
            </div>
            @if(skillsUnions.value.level){
                <div class="col-3">
                    <p>Destreza 1:</p>
                    <select id="skill1" class="form-select" formControlName="skill1">
                        @for(skill of skillToUnion; track skill.id){
                            <option [value]="skill.id">{{skill.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <p>Destreza 2:</p>
                    <select id="skill2" class="form-select" formControlName="skill2">
                        @for(skill of skillToUnion; track skill.id){
                            <option [value]="skill.id">{{skill.name}}</option>
                        }
                    </select>
                </div>
            }
            <div class="col-1">
                <div class="col-2 mt-4 text-center"><button class="btn btn-success mt-3" (click)="addSkillUnion()">Añadir</button></div>
            </div>
            <div class="col-1"></div>
        </div>
    </form>
</div>
<div class="mb-5"></div>

<!-- Edit modal -->
<div class="modal" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @if ( editVariables.type === "levels" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar nivel</h1>
                } @else if ( editVariables.type === "skills" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar destreza</h1>
                } @else if ( editVariables.type === "blocks" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar bloque</h1>
                } @else if ( editVariables.type === "skills_unions" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar bloque</h1>
                }
                @if(!charge){
                    <button type="button" class="btn-close" (click)="closeEditModal()"></button>
                } @else {
                    <div class="spinner-border text-secondary mx-auto" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
            </div>
            <div class="modal-body">
                <form [formGroup] = "editForm" id="editForm">
                    <p class="mt-1">Nombre</p>
                    <input type="text" id="mName" class="form-control" formControlName="name" placeholder="Nombre del nivel" aria-label="Name" aria-describedby="Name">
                    @if(editVariables.type === "skills"){
                        <p class="mt-3">Elige un nivel</p>
                        <select id="mSkillLevel" class="form-select mb-3" formControlName="secondId" aria-label="Select-secondId">
                            @for(level of levels; track level.id){
                                <option [value]="level.id">{{level.name}}</option>
                            }
                        </select>
                    } @else if (editVariables.type === "blocks"){
                        <p class="mt-3">Elige una destreza</p>
                        <select id="mBlockSkill" class="form-select mb-3" formControlName="secondId" aria-label="Select-secondId">
                            @for(skill of skills; track skill.id){
                                <option [value]="skill.id">{{skill.name}}</option>
                            }
                        </select>
                        <p>Tipo de pregunta:</p>
                        <select id="blockType" class="form-select" formControlName="blockType">
                            @for(type of questionsTypes; track type.id){
                                <option [value]="type.id">{{type.name}}</option>
                            }
                        </select>
                        <p>Puntuación del bloque</p>
                        <select id="blockScore" class="form-select" formControlName="blockScore">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                        <p>Puntuación individual</p>
                        <select id="blockScore" class="form-select" formControlName="puntuation">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                        </select>
                    } @else if (editVariables.type === "skills_unions") {
                        <p>Nivel de la unión:</p>
                        <select id="level" class="form-select" formControlName="level" (change)="loadSkillToUnions()">
                            @for(level of activeLevels; track level.id){
                                <option [value]="level.id">{{level.name}}</option>
                            }
                        </select>
                        <label for="statementUnion" class="form-label">Enunciado para la unión:</label>
                        <textarea class="form-control" formControlName="statement" id="statementUnion" rows="2"></textarea>
                        <p>Destreza 1:</p>
                        <select id="skill1" class="form-select" formControlName="skill1">
                            @for(skill of skillToUnion; track skill.id){
                                <option [value]="skill.id">{{skill.name}}</option>
                            }
                        </select>
                        <p>Destreza 2:</p>
                        <select id="skill2" class="form-select" formControlName="skill2">
                            @for(skill of skillToUnion; track skill.id){
                                <option [value]="skill.id">{{skill.name}}</option>
                            }
                        </select>
                        <p>Puntuación:</p>
                        <select id="blockScore" class="form-select" formControlName="puntuation">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                        </select>
                    }
                </form>
            </div>
            @if (!charge){
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="modify()">Editar</button>
                </div>
            } @else {
                <div class="spinner-border text-primary mx-auto mb-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @if ( deleteVariables.type === "level" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Borrar este nivel?</h1>
                } @else if ( deleteVariables.type === "skill" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Borrar este destreza?</h1>
                } @else if ( deleteVariables.type === "block" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Borrar este bloque?</h1>
                } @else if ( deleteVariables.type === "union" ) {
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Borrar esta unión de destrezas?</h1>
                }
            @if(!charge){
                <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
            } @else {
                <div class="spinner-border text-secondary mx-auto" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
            }
            </div>
            @if( deleteVariables.type === "union" ){
                <div class="m-5">
                    <p>Nombre: {{deleteVariables.name}}</p>
                    <p>Enunciado: {{deleteVariables.statement}}</p>
                    <p>Nivel: {{deleteVariables.level_name}}</p>
                    <p>Destreza número 1: {{deleteVariables.skill_name_1}}</p>
                    <p>Destreza número 2: {{deleteVariables.skill_name_2}}</p>
                </div>
            } @else{
                <div class="modal-body text-center">
                    <p>Nombre: {{deleteVariables.name}}</p>
                    <p>Estado: {{deleteVariables.status}}</p>
                    @if(deleteVariables.type === "skills"){
                        <p>Nivel: {{deleteVariables.level}}</p>
                    }@else if(deleteVariables.type === "blocks"){
                        <p>Destreza: {{deleteVariables.skill}}</p>
                    }
                </div>
            }
            @if (!charge){
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cerrar</button>
                    @if(deleteVariables.type === "union") {
                        <button type="button" class="btn btn-primary" (click)="deleteUnion()">Delete</button>
                    } @else {
                        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
                    }
                </div>
            } @else {
                <div class="spinner-border text-primary mx-auto mb-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
        </div>
    </div>
</div>

<app-footer></app-footer>